[2018-05-08 15:03] KinTsang opened #1 "How to import this module?"
Hi!

I am following your instruction and demo of using a direct path into the /src/components/jsoninput but it is returning

I even tried relative pathing (import JSONInput from 'react-json-editorajrm/src/components/jsoninput')

but both times are throwing an error Cannot resolve module 'react-json-editor-ajrm/src/components/jsoninput'

[2018-05-08 15:39] AndrewRedican commented on #1
Hi, Kin Tsang.

I see what you mean. I'll be updating the instructions shortly to make it clearer.

Since  this component is an npm module, it can be accessed like so:
[code]

You can also just copy `jsoninput.js` file into your project directory, in which case you must specify the relative directory, see example below:

[code]

[2018-05-08 15:51] AndrewRedican commented on #1
Let me know if this worked for you.

[2018-05-08 20:40] AndrewRedican opened #2 "NPM Module is not Bundled Correctly"
This project is not bundled correctly to be used as an npm modoule.

ETA this is fixed: May 9 , 2018.

[2018-05-09 15:35] KinTsang commented on #1
HI Andrew!

Thanks for the reply.

The first way of accessing it via 'react-json-editorajrm/jsoninput' does not seem to work.

The other method of copying jsoninput.js file into my project directory then importing using the relative path works!

[2018-05-09 18:53] AndrewRedican commented on #2
This has been fixed.

[2018-05-09 18:53] #2 closed

[2018-05-09 18:54] AndrewRedican commented on #1
You should be able to import this component directly now.

[2018-05-09 21:37] #1 closed

[2018-05-11 15:26] KinTsang opened #3 "messageWidth is not defined"
Hi Andrew!

I am currently using the latest release 2.0.3 and when I am entering an invalid JSON, the error message does not appear on top of the editor and it is console logging out an error `messageWidth is not defined`

Thanks!
Kin

[2018-05-11 15:34] AndrewRedican commented on #3
Hi KinTsang.

This has been fixed since version `2.1.5`. You can run `npm i react-json-editor-ajrm@latest` to pull the latest version into your project.

[2018-05-11 16:33] KinTsang opened #4 "Error parsing booleans when using Copy/Paste"
Hi Andrew,

There seems to be an error when paring boolean property values.

When I copy and paste in the following object:
`{
 "array": [],
 "propertyBoolean": false
}
`
It throws an error 'String must be wrapped in quotes at line 3.'

but then when I follow the instruction to wrap it in quotes:
`{
 "array": [],
 "propertyBoolean": 'false'
}
`

I get the error 'primitives can only follow '['':'',

[2018-05-11 16:49] #3 closed

[2018-05-11 17:55] AndrewRedican commented on #4
Thanks for the feedback, I should be able to fix it during the weekend in version `2.1.8`.

[2018-05-14 21:15] AndrewRedican commented on #4
This has been fixed.

[2018-05-14 21:15] #4 closed

[2018-05-14 21:36] AndrewRedican opened #5 "onPaste event not fired when all content is selected / higlighted"
On `paste` event, component will analyze the new content's syntax and format accordingly.
User can also select a portion of the content to replace with data from the clipboard.
However when selecting the entire content and attempt to paste new contents, it does not trigger onPaste event.

[2018-05-15 00:10] AndrewRedican opened #6 "Show Spinner Prior to Content Render"
Component should display a fallback loading spinner when starting to render markup into DOM.

This is especially necessary with huge chunks of data.

[2018-05-15 00:12] AndrewRedican opened #7 "After a certain data threshold, create collapsible nodes to partially display data"
This component creates an element for each color-coded word.
In some particular cases, if too much data is provided to this component, say, a very large object, the browser will begin to struggle rendering the elements.

There are two steps to solve this problem:
1. Determine a reasonable threshold in which browsers will be able to handle rending of nodes/elements.
2. Create a fallback mechanism f

[2018-05-15 00:13] AndrewRedican opened #8 "Adjust height of row labels to match wraped text rows."
On rare occasions, the text and elements for a particular row of the content box can exceed the expected width and in turn change the height and position of rows, while row labels, independent to the row do not increase in height or change position to match the shift or change in the rows.

As such, we need to take into account this scenario to make sure that any labels height and position matches

[2018-05-17 10:58] gdo opened #9 "How have the change event when the onkeypress event id fired"
Hello, thanks for this component,

Checks and send of the change event is made when we leave the component but how can I have this event juste after modify one character ?

Thanks

[2018-05-17 16:18] AndrewRedican commented on #9
Good question @gdo.

That is very desirable feature that current this component does not have.  I intend to work on it this weekend.

A few clarifications. `onChange` event is not used on this component because the element containing the content is a content-editable div, which doesn't support the `onChange` event.
I chose a content-editable div over a textarea or input component to have the abbil

[2018-05-23 03:48] AndrewRedican commented on #9
Hi @gdo,

I apologize for the late reply. At last, I've added a feature for component to re-render on every keystroke. Delay times can be customized. You can provide a function to the `onChange` property of this component. This should execute when component re-renders, including on key press, unless you opt-out of this feature.

I'll be marking this as solved. Let me know your thoughts.

[2018-05-23 03:48] #9 closed

[2018-05-23 04:16] AndrewRedican commented on #6
This shouldn't be necessary if task https://github.com/AndrewRedican/react-json-editor-ajrm/issues/7 is executed correctly. Will re-open if deemed necessary after previous task is successfully completed.

[2018-05-23 04:16] #6 closed

[2018-05-24 00:59] brmscheiner opened #10 "Height prop is ignored"
Hey, great work on this library! This should be a simple fix - I can update the width of the component but not the height.

[code]

[2018-05-24 03:38] AndrewRedican commented on #10
Hey @brmscheiner.

Thanks for the kudos.

I really appreciate your feedback. Upon closer examination, I realized component was not rerendering after _any_ property was updated after the intial component mount. *face palm*

This has been fixed on version 2.3.1.

[2018-05-24 03:38] #10 closed

[2018-05-24 19:20] brmscheiner commented on #10
Sweet, thank you!

[2018-05-24 20:10] gdo commented on #9
Thanks, it's work.

[2018-05-26 13:40] gdo opened #11 "Global Variable for DarkTheme or LightTheme"
Hello,

Is it possible to have a global definition of the themes.

Perhaps something like <JSONInput colors='darkTheme' /> (with single quote so the parameter is a string and not an object like in this definition <JSONInput colors={darkTheme} />)

Thanks

[2018-05-26 15:51] martunta opened #12 "firefox"
**1. What version of RJEA are you using (react-json-editor-ajrm version)?**
1.5.1 example
**2. What operating system and processor architecture are you using?**
Ubuntu 18.04, firefox 60.0.1
**3. What did you do?**
tried to use example
**4. What did you expect to see?**
able to click on text and see cursor move
**5. What did you see instead?**
cursor did not move upon click. I could use keyboard to

[2018-05-26 15:51] martunta commented on #12
p.s. in chrome it was working as expected

[2018-05-26 19:01] AndrewRedican commented on #11
In other words, you'd like a shorthand property that provide an identifier as to which built-in theme to use. I am thinking on providing a `theme` property in which you can pass on a string.

We'll probably want to make it so that you can select a `theme` but also override any color.

[2018-05-26 19:04] AndrewRedican commented on #12
Thanks @martunta. I'll look into this.

[2018-05-28 19:06] ellis opened #13 "Please update README example to include an `id` field, because JSONInput throws an exception"
1. What version of RJEA are you using (react-json-editor-ajrm version)?

2.3.3

2. What operating system and processor architecture are you using?

Mac, Intel.

3. What did you do?

Tried an example like on the README:

[code]

4. What did you expect to see?

A working editor.

5. What did you see instead?

An exception related to missing `id`.

By adding the `id` field to `<JSONInput>`, the error

[2018-05-28 19:12] AndrewRedican commented on #13
Thanks @ellis. I'll be updating it shortly!

[2018-05-29 03:43] AndrewRedican commented on #13
This has been updated. Thanks for the feedback.

[2018-05-29 03:43] #13 closed

[2018-05-29 03:44] AndrewRedican commented on #11
This feature has been added to RJEA as of version 2.4.1.

[2018-05-29 03:44] #11 closed

[2018-05-29 16:24] KinTsang opened #14 "Unable to parse string value "null""
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.2.2
2. What operating system and processor architecture are you using? Sierra 10.12.6
3. What did you do?
Inputted object:
[code]

4. What did you expect to see? Accepts it as a correct JSON object
5. What did you see instead?

[2018-05-29 20:05] mrovinsky opened #15 "Font of the Editor"
Is it possible to change the font of the editor (size, family, letter spacing and so on)?

[2018-05-29 23:02] AndrewRedican commented on #14
Hi @KinTsang thanks for the feedback.

This has been fixed in the latest react-json-editor-ajrm version `2.4.3`.

[2018-05-29 23:02] #14 closed

[2018-05-29 23:34] AndrewRedican commented on #15
@mrovinsky

Yes, you can edit any styles including font-related ones in this component.
I've editted the original example provided in this repo, with some changes related to fonts.

In the code below, I've used the **style** property to change the font-related styles for **errorMessage**. You can read more about the **style** and other properties [here](https://github.com/AndrewRedican/react-json-

[2018-05-30 15:52] #15 closed

[2018-05-30 23:33] AndrewRedican commented on #12
I found more information about the issue. See this [Stack Overflow](https://stackoverflow.com/questions/25243665/cant-change-cursor-position-by-click-in-div-contenteditable-in-ff). I will be applying suggested fix and confirm this will fix it.

[2018-05-31 01:48] AndrewRedican commented on #12
react-json-editor-ajrm example, uses a small amount of css assets.

Assigning a css style to all span in document with `-moz-user-select: none;` caused this issue. An alternative is to use `-moz-user-select: element;` instead. I've opted for removing some unnecessary css rules from the example repo.

No change changes made to actual RJEA component.

[2018-05-31 01:53] AndrewRedican commented on #12
This has been fixed.

[2018-05-31 01:53] #12 closed

[2018-06-04 08:59] mrovinsky opened #16 "Update on change placeholder"
I use JSONInput viewOnly. Updating placeholder prop does not change the editor content.

[2018-06-04 14:59] AndrewRedican commented on #16
Hi @mrovinsky,

I need more information than that. I cannot reproduce the issue.

Are you using the latest version of RJEA? (Should be `2.4.4` at the moment).

[2018-06-04 15:34] mrovinsky commented on #16
Andrew,
The problem is gone after upgrading from 2.4.2 to 2.4.4 .
Thank you and sorry for the inconvenience.

[2018-06-04 15:35] AndrewRedican commented on #16
No worries!

[2018-06-04 15:35] #16 closed

[2018-06-13 23:14] TrevorJamesH opened #17 "React module casing"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.4.4
2. What operating system and processor architecture are you using?
OSX
3. What did you do?
Run build in CRA
4. What did you expect to see?
No errors
5. What did you see instead?

./node_modules/React/index.js
There are multiple modules with names that only differ in casing.
This can lead to unexpected behavior when compi

[2018-06-14 14:01] AndrewRedican commented on #17
Hey @TrevorJamesH,

Can you paste a code snippet of how your import or require statement looks?

[2018-06-14 17:06] TrevorJamesH commented on #17
Just the basic: import JSONInput from 'react-json-editor-ajrm' within a react component.

It's worth noting I'm using the 'next' version of create react app, using react-scripts 2.0.0-next. It could be something with the new version of webpack, but it's identifying this module as the only one using /node_modules/React

[2018-06-19 04:16] alexahn917 opened #18 "Add Full-Width / Full-Height support"
Would it be possible to add a support for full-width & full-height to fit the container component (100%) of the rendered JSONInput component?

I think that it would be much more useful if dynamic sizing is enabled, if possible.

Thanks!

[2018-06-19 14:07] AndrewRedican commented on #18
Sure thing!

[2018-06-19 14:09] AndrewRedican commented on #17
Hey @TrevorJamesH.

I am still looking into this. I don't have hands on experience on ReactCreateApp. I esitmate I'll be able to fix this within a week's time.

[2018-06-26 12:57] darrencrossley opened #19 "HTML is removed from valid JSON strings"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.4.4
2. What operating system and processor architecture are you using?
chrome 65
3. What did you do?
type `<div>` into a string in the editor
4. What did you expect to see?
the text `'<div>'` entered as a valid json string
5. What did you see instead?
a new line in the editor

[2018-06-27 12:44] waleedasad opened #20 "Bug/Issue related pasting larger JSON object"
I found a issue that if we paste a longer format JSON object it gives random syntax error on some line whereas it is a valid JSON object. Also by pasting a larger JSON object the editor seems to be laggy

[2018-06-29 13:03] duart38 commented on #19
same issue here.

[2018-06-29 13:28] AndrewRedican commented on #19
Thanks guys. I had not imagined this use case while coding logic for component.
There is definitely a bug there. I will work on it this weekend.

Thanks.

[2018-06-29 13:42] AndrewRedican commented on #20
Hi waleedasad,

Thanks for your input. Can you expand a little bit on your first sentence? Regardless of whether it is a large input or not, there is likely a reason for finding an error, whether it be some logic missing in the component or an invalid character. I would suggest you to try to find the smallest example where this happens so I can have something to work with.

In regards to lagg on p

[2018-07-08 10:45] ellis opened #21 "Quote keys containing special characters"
1. What version of RJEA are you using (react-json-editor-ajrm version)?

v2.4.4

2. What operating system and processor architecture are you using?

Mac OS

3. What did you do?

Tried to edit a JSON object whose keys have "special characters".

4. What did you expect to see?

An properly editable object

5. What did you see instead?

![image](https://user-images.githubusercontent.com/97852/4241898

[2018-07-10 15:10] maynir commented on #20
Hi, I'm experiencing the same problem when I put in a JSON like this: "{a: 1}{".
I think the problem is with the second open "{".
The error I'm experiencing is "Uncaught TypeError: Cannot read property 'string' of undefined".

Would really like your help.

[2018-07-10 15:58] AndrewRedican commented on #21
Hey @ellis,

Just to confirm, are you passing this to the component through `placeholder` property or is it manual user input?

I think there are two issue here:

First I am not sure if keys begining with a number are considered as possible keys in the logic of component, ergo  _"number can only follow '[', ':', ',' tokens"_. I will update the component's logic to make sure it does consider it as

[2018-07-10 16:09] ellis commented on #21
Hi @AndrewRedican - I'm passing a json object through the placeholder property, so the json looks like:

[code]

My thought was simply that if the key "10018-00" would get automatically quoted, that would solve the problem, so that the results in the editor be valid.  But you may have a better solution in mind... :)

[2018-07-11 20:30] AndrewRedican commented on #19
Hey @darrencrossley, @duart38,

This issue where html tags were removed by component has been fixed on the latest RJEA version `2.4.6`

[2018-07-11 20:30] #19 closed

[2018-07-11 20:43] AndrewRedican commented on #21
Hey @ellis,

The first portion of this issue has been fixed. Object keys can now be numbers and can also be "reservered" words, such as `null`, `false`, `true`, and `undefined` are all valid key names. This is available in the latest RJEA version `v2.4.6`.

In regards to keys such as `10018-00` passed to RJEA component through its placeholder property, will render these keys wrapped within quotes

[2018-07-11 20:54] AndrewRedican commented on #20
Hey @maynir,

Can you create a new separate issue for the issue you are having. It does not seem related to this one. Also please expand on the subject so I can help out. Although, with the little information provided, `{a: 1}{` is not valid json.

Thanks

[2018-07-12 14:43] AndrewRedican commented on #7
Hey @waleedasad, at the moment this feature is not available.
Expect an update for this in a week's period of time.

[2018-07-12 14:44] #20 closed

[2018-07-14 15:15] PatrickSachs commented on #18
I am using the following `style` settings for a full width editor.
[code]

The editor itself is wrapped in this div:
[code]

[2018-07-14 15:22] PatrickSachs commented on #21
Since this is probably the same issue, quotes in keys also need to be escaped:
[code]

Creates the following output: (Syntax Error in the second line: `Missing closing ' quote on key at line 2`)
[code]

[2018-07-15 00:32] AndrewRedican commented on #21
Hey @PatrickSachs, I will also address this in the next update. Thanks for your input.

[2018-07-15 06:29] AndrewRedican commented on #21
Hey @ellis, special key names that require to be wrapped in quotes now do.
Hey @PatrickSachs, quotes in keys are now escaped.

This fixes are available in the latest version of `react-json-editor-ajrm@2.4.7`

[2018-07-15 06:29] #21 closed

[2018-07-15 06:34] AndrewRedican opened #22 "Empty strings "", should be allowed as valid key names."
What version of RJEA are you using (react-json-editor-ajrm version)? 2.47

I noticed component's logic marks emtpy string to be an error.
However wierd this particular use case can be, empty strings as key names is still valid javascript syntax and should be allowed by component.

[2018-07-15 06:40] AndrewRedican commented on #7
Outlining general steps for this tasks:
1. Test how many nodes can be created in DOM before it becomes an issue. (Noticiable lagg).
2. Create a function to measure the amount of data within each key.
3. Decide on a default threshold and provide new property for user to provide a particular threshold.
4. Rewrite component, in a way, the end user, is able to expand on big nodes if necessary, but wil

[2018-07-15 12:32] PatrickSachs commented on #21
Thanks for the fix! Unfortunately I'm still getting an error with double quotes in values:
![screenshot_2](https://user-images.githubusercontent.com/7840502/42733939-432b5110-883b-11e8-808c-1b497c6fc86d.png)
If I escape the double quotes everything seems to work fine:
![screenshot_3](https://user-images.githubusercontent.com/7840502/42733949-50a12bda-883b-11e8-907b-c7e2238e88b3.png)
This is the fu

[2018-07-15 18:16] PatrickSachs opened #23 "Add localization support"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.4.7
2. What operating system and processor architecture are you using?
Windows 10, Intel 64 bit
3. What did you do?
Use the editor 🙃
4. What did you expect to see?
I was hoping for a locale/translation system.
5. What did you see instead?
Hardcoded error messages.

While not critical at the current time for my use case a way

[2018-07-15 21:47] AndrewRedican commented on #23
This is a great suggestion.

Any particular languages you'd be interested in having support for?

[2018-07-15 21:51] AndrewRedican commented on #21
I'll look into this today.

[2018-07-16 09:23] Patrick-Sachs commented on #23
My main requirement in english & german. Although I think that designing an open system with user customizable strings would be best.

[2018-07-20 08:10] quorak opened #24 "make width adabtable"
hey there,

thanks for this great component. We need to have the width adapting to the surrounding component. Can we support `width="100%"` ? right now it just uses `100px` instead

[2018-07-22 17:48] AndrewRedican commented on #24
Hey @quorak,

I'll be adding support for percentages to `width` and `height` shorthand component properties.

In the meantime, you can also use the `style` property. See @PatrickSachs' solution to a similar question here https://github.com/AndrewRedican/react-json-editor-ajrm/issues/18.

[2018-07-22 17:51] AndrewRedican commented on #24
I will be closing this issue in favor of this one: https://github.com/AndrewRedican/react-json-editor-ajrm/issues/18

[2018-07-22 17:51] #24 closed

[2018-07-23 04:11] AndrewRedican commented on #18
@alexahn917, this has been fixed since version `2.4.8`
@PatrickSachs, I used some of your css to provide a built-in solution. Many thanks.

[2018-07-23 04:11] #18 closed

[2018-07-23 04:12] AndrewRedican commented on #22
This has been fixed since version `2.4.8`

[2018-07-23 04:12] #22 closed

[2018-07-23 04:14] AndrewRedican commented on #23
I've added `modifyErrorText` property to give the developer access to modify the error or warning message.
I will be working on built-in solutions for localization in the next few weeks.

[2018-07-24 13:55] JustPilz opened #25 "On Enter Key Pressed, incorrect editor behavior"
Latest react-json-editor-ajrm version (2.4.8)
I have a strange behavior with simple object:
`{
    key: "123"
}`
When I tried to add new key and value, json-editor removed it. Also symbol «}» has been removed when I tried to fix syntax error:
![react-json-editor-ajrm](https://user-images.githubusercontent.com/24465747/43142697-a84f1c0c-8f61-11e8-955a-be36e90341b0.gif)

[2018-07-24 14:34] AndrewRedican commented on #25
@JustPilz,

Thanks. Your screenshsot is extremely helpful. I am renaming this issue with a more specific description.

[2018-07-24 14:53] AndrewRedican commented on #25
Pressing enter creates a DIV node inside this contentEditable component. DIV nodes were not accounted for in component logic. I am surprised we had not come across this earlier. I am submitting a fix right now.

Thanks for trying this project. Great find. Thanks again ^_^

[2018-07-24 15:23] AndrewRedican commented on #25
@JustPilz, this issue has been fixed in the latest `react-json-editor-ajrm@2.4.9`

[2018-07-24 15:23] #25 closed

[2018-07-24 15:54] blandfried-magellan opened #26 "Object doesn't support property of method 'forEach' - IE 11"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
   - 2.4.9
2. What operating system and processor architecture are you using?
  -macOS High Sierra
3. What did you do?
  -Tried to edit JSON in Internet Explorer 11
4. What did you expect to see?
 - The onChange function to fire correctly with changed JSON
5. What did you see instead?
 - Error in console about forEach not bein

[2018-07-24 16:00] AndrewRedican commented on #26
@blandfried-magellan, good catch. I'll submit a fix in the next few days.

[2018-07-24 16:00] blandfried-magellan commented on #26
I think you want to use transformRuntime plugin. Had same issue with below and that's how they fixed it.

https://github.com/okta/okta-signin-widget/commit/3b58e80cef75bffe2acfc253e7e9221c6f6b31fa

[2018-07-25 08:09] AndrewRedican commented on #17
I was able to replicate issue using the bundled distribution version of the component.

Issue boils down to specifically an issue with Capitalization.

The ES6 import statement
[code]

is not parsed correctly by the webpack or babel configuration, which results in an issue which really boils down to a single capital letter that is causing the warnings.

_!function(e,t){"object"==typeof exports&&"o

[2018-07-25 09:18] AndrewRedican commented on #17
Removing these configurations from webpack solved the issue. A fix will be provided in the next release of this component.

[code]

[2018-07-26 22:11] AndrewRedican commented on #23
@PatrickSachs for your contribution!

This is available as of version `react-json-editor-ajrm@2.5.0`

[2018-07-26 22:11] #23 closed

[2018-07-26 22:12] AndrewRedican commented on #17
@TrevorJamesH, This has been fixed as of version `react-json-editor-ajrm@2.5.0`

[2018-07-26 22:12] #17 closed

[2018-07-28 16:28] AndrewRedican opened #28 "✨Universal Syntax Editor"
Hey @PatrickSachs,

About the contributions so far, thank you. I saw your online resume, I must say kudos to you, creating ☀️ SolScript. I think it is very impressive. I've shared your project with some work colleges. I would like to extend access to the github repo to you as collaborator, not just as contributor - if you would like.

On a different topic, today I had a epiphany while traveling on

[2018-07-29 10:21] PatrickSachs commented on #28
Hey @AndrewRedican!

First of all, great props to you for reading through my german website! 👍 Thank you for taking the time.

I'd gladly accept collaborator access to this repository, since I believe that this project is the React JS-object editor(or maybe future syntax editor?) with the most future. Others either have a monolithic bundle size, are only React wrappers(Use something like jQuery wi

[2018-07-29 19:17] AndrewRedican commented on #28
Hey @PatrickSachs,

I am glad to have you as the first collaborator.

I have no intention of making this project a direct competitor of React monaco 😅. The scope of this project I would want it to remain the same: a syntax editor for `data structures` only, that it can be extended to different programming languages and/or data formats in general.

Preferably, I'd like to keep the project self-cont

[2018-07-29 20:24] AndrewRedican opened #29 "On component re-render with syntax validation warnings, offset cursor positioning"
1. What version of RJEA are you using (react-json-editor-ajrm version)? `2.51`
2. What operating system and processor architecture are you using? `Windows 10` `Goggle Chrome`
3. What did you do? Type incorrect javascript syntax
4. What did you expect to see? Cursor to remain in the same position where I left it.
5. What did you see instead? Cursor sometimes repositions a bit behind instead of rema

[2018-07-29 20:44] PatrickSachs commented on #28
Thank you!

The more self contained, the better, I totally agree. It it is also better for bundle size. I've seen enough some helper libraries include something like lodash/underscore which then as a result dramatically increase bundle size.

There also probably many other tokenizer/parser libraries out there, nearly is pretty much the one I've seen recommended the most. And as you already stated,

[2018-07-30 00:26] AndrewRedican opened #30 "🌍 🌎 🌏 Localization Support: Translators Needed"
We have come up with a list of languages we'd like to support. As explained in the main documentation, this component enables users to validate correct syntax for javascript data structures. We are hoping we can extend this component's usefulness by providing locale support to non-english speakers.

We hope to accomplish this goal by crowdsourcing this task to kind volunteers around the globe.

Fo

[2018-07-30 01:09] AndrewRedican commented on #28
I am happy to use Slack + Github.

I noticed you've started adding to milestones of your own. Feel free to add other milestones. We can make one for "universal syntax editor" if you'd like. Another for collapsible nodes.

[2018-07-30 17:21] PatrickSachs commented on #28
Then let's settle on Slack. Feel free to shoot me an invitation once a workspace has been set up.

Sounds like a good idea!

[2018-07-30 20:29] PatrickSachs opened #31 "Use Babel for builds"
Webpack is meant for the final bundling of a code base. Libraries are better built using raw Babel. This allows the user to use their own module bundler/polyfills/etc...

This entails upgrading to the latest Babel version and removing webpack as a dev-dependency for the library (we will still use it for the example).

[2018-07-30 21:10] PatrickSachs commented on #31
Hey, @AndrewRedican

should you have some time can you review the updates to the build system? It is pretty much a complete redo, so I'll try to explain the changes as much as possible.

See the [babel-builds](https://github.com/AndrewRedican/react-json-editor-ajrm/tree/babel-builds) branch.

## First of all is the move from webpack to babel for building the library.

**Why?** While webpack is an

[2018-07-30 21:40] AndrewRedican commented on #31
@PatrickSachs,

🔥 **This is great!** I think this is the correct approach for bundling the project. I too noticed it was very difficult to create multiple bundles in Webpack (I tried setting up configuration for multiple bundles when I originallt realized the `react-json-editor-ajrm/dist/locale/en` was not working with the distribution version.

I too think `react-json-editor-ajrm/locale/en` is a

[2018-07-30 22:13] PatrickSachs commented on #31
Certainly - Browser support for ES6 is getting better and better. Some browsers like the Safari Preview 10 actually already have native support for the ES6 module ecosystem(`import`/`export`).

The `es` compile script allows us to transpile code that is not part of actual ES6(like React JSX and some proposals) into valid ECMAScript using the latest language features.

This code can then be consume

[2018-07-31 15:34] joe-at-startupmedia opened #32 "Using html tags within JSON string are rendered in the form and as a result invalid JSON"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
"react-json-editor-ajrm": "^2.4.7",
2. What operating system and processor architecture are you using?
Mac
3. What did you do?
Add <br/ > tags to a json string
4. What did you expect to see?
The <br /> tags not rendered.
5. What did you see instead?
The <br /> tags were rendered and as a result the json became invalid.

[2018-07-31 15:37] AndrewRedican commented on #32
Hi @joe-at-startupmedia, this should be a quick fix.

I will be providing an update shortly.

[2018-07-31 17:02] PatrickSachs commented on #31
I thought about this system today, and I think having a simpler build system is better and less confusing.

We still have two different build outputs, but apply the same babel transformers to all of them. The only difference is that one output's module system is commonjs (export, require - something that node.js can use), and the other is es (export, import - something browsers can use). Most bund

[2018-07-31 17:33] AndrewRedican commented on #31
Hey @PatrickSachs,

Sorry I haven't been able to get back to you. I haven't had the time to finish reviewing. I'll confirm today.

That being said, I am happy to provide two different versions for distribution:
1. One that has been transpiled down to the simplest version of javascript (which may include additional polyfills/transformations and bigger bundle size). If possible something that could

[2018-07-31 19:54] AndrewRedican commented on #28
I've sent an intive for a group named "**syntaxture**".

[2018-07-31 21:16] PatrickSachs commented on #31
No worries! Take your time, it's important to set up a good and scalable compiler.

As of now all versions are compiled to IE11 compatible code. This has to be battle tested, but that's what the configuration tells Babel to do.

[code]

We might need a plugin explicitly for polyfills in the future. (To avoid problems like #26)

So, have the commonjs Version be the one compiled down to "IE Level"-C

[2018-07-31 21:51] PatrickSachs commented on #31
Alright, I'm rather statisfied with this change: As discussed, the commonjs version will be transpiled & polyfilled to something that should be compatible with older browsers, while the ES version stays largely untouched(aside from transpiling react and language proposals) allowing the user to decide how to further compile the code.

I'll go ahead and create a PR for this change. Let me know if ru

[2018-07-31 22:01] AndrewRedican commented on #31
I'll be adding new base tests. I'll also look into browser compatability testing. I'll be using [**this**](https://ci.testling.com/guide/quick_start)

[2018-08-01 16:51] AndrewRedican commented on #31
https://github.com/AndrewRedican/react-json-editor-ajrm/pull/33

[2018-08-01 20:14] AndrewRedican commented on #31
This task is complete

[2018-08-01 20:14] #31 closed

[2018-08-02 05:12] AndrewRedican opened #34 "Upon paste of content from clipboard, html markup is filtered out"
1. What version of RJEA are you using (react-json-editor-ajrm version)? `2.5.1`
2. What operating system and processor architecture are you using? `Windows 10`
3. What did you do?
4. What did you expect to see?
5. What did you see instead? When pasting, html dissapears. Only text is pasted.

Preliminary examination shows that tags never actually get pasted into component.
Meaning, component logic

[2018-08-02 05:16] AndrewRedican commented on #32
Hey @joe-at-startupmedia,

I was looking into your issue. I could not replicate the problem. A similar issue was addressed in earlier versions https://github.com/AndrewRedican/react-json-editor-ajrm/issues/19.

1. Typing <br/> directly works.
2. Adding <br/> inside a key or string notitation even within an javascript object passed through `this.props.placeholder` is rendering correctly.

If either

[2018-08-02 05:32] AndrewRedican commented on #29
The offset character position is equivalent to the number of newlines, meaning new lines are not account for in `getCursorPosition()`.

[2018-08-02 18:45] AndrewRedican commented on #34
Moving discussion from https://github.com/AndrewRedican/react-json-editor-ajrm/issues/32 to here.
Adding @joe-at-startupmedia to conversation.

[2018-08-02 18:45] AndrewRedican commented on #32
Thanks Joe. I am closing this issue in favor of the one I created.

[2018-08-02 18:45] #32 closed

[2018-08-04 22:29] #29 closed

[2018-08-07 20:15] AndrewRedican commented on #7
Working on it this week. https://github.com/AndrewRedican/react-json-editor-ajrm/tree/collapsible-nodes

[2018-08-07 20:33] AndrewRedican opened #37 "Importing component display error on different set up"
1. What version of RJEA are you using (react-json-editor-ajrm version)? `2.5.2`
2. What operating system and processor architecture are you using? `Windows 10`
3. What did you do? Import component according to instructions.
4. What did you expect to see? No errors on import.
5. What did you see instead?

This errors occurs for either normal or `es` import.
I am using a different working setup (tha

[2018-08-07 21:10] PatrickSachs commented on #37
I just looked through some other repositories and I believe that making `@babel/runtime` and dependency instead of a dev dependency will fix the issue.

Babel doesn't directly inject the polyfills into our code but instead requires a module containing it. This avoids potentially having the same polyfill multiple times in a code base.

Since I only added these modules as a devDependency they don't

[2018-08-07 21:28] AndrewRedican commented on #37
Hey @PatrickSachs,

Does this mean the project should list `@babel/runtime` and `@babel/core` as peer dependencies?

What I would hope for is that the regular version of this component would provide fully transpiled code, w/o need of additional dependices other than (react and react-dom) that is. This way we can target a broader scope of project setups (or probably just recude the amount of additi

[2018-08-08 09:38] Patrick-Sachs commented on #37
`@babel/core` is purely a dev dependency, the user doesn't need it. `@babel/core` is the actual transpiler that transpiles the code by taking different presets/plugins into account.
`@babel/runtime` contains the helper modules inserted by plugin `@babel/plugin-transform-runtime`. We thus only need `@babel/runtime` either as a (as you suggested) peerDependency or regular dependency.

See the `@babe

[2018-08-09 14:00] darrencrossley commented on #37
We had the same issue, reverting to 2.5.1 for now.

Also worth noting that we had this problem even when we used babel/polyfill - it seems they've changed the folder structure as we had no ./@babel/runtime/helpers/builtin folder.

As for the fix I have no strong opinion but if (2) can be done without huge overhead this seems like the best aproach for features not widely adopted. I'm not sure why t

[2018-08-09 16:28] AndrewRedican commented on #37
Thanks for your input @darrencrossley. You input helped me react a decision.

====

Hey @PatrickSachs,

 I have decided to go with option 2. `Configuring babel in a way to polyfill, etc. every module seperately.`
I think at the end of the day, we'd like to keep it as simple for developers as it can be. Potentially we could incur in some increase bundle size.

However we can do the following things

[2018-08-09 18:11] PatrickSachs commented on #37
Hello @AndrewRedican -

I think shipping libraries as a bundle is a bad idea for reasons already discussed in PR #31 that moved away from the bundling, but it's your call.

Then the problem would be if we don't include the index.js file we'd not have the polyfills.

Also we'd have to store the polyfills somewhere so that our other modules can use them. The only way I can think of doing this withou

[2018-08-09 19:41] AndrewRedican commented on #37
@PatrickSachs, thanks for feedback!

You are right.

I still need to wrap my head around what these babel plugins are / how they work. If we add `@babel/runtime` as dependency for project, is it required for other developers to use babel 7? If no, let's go ahead and add it as dependency. 👍

Thanks  again.

[2018-08-09 21:34] PatrickSachs commented on #37
**No.** @babel/runtime is probably a confusing name as it does indeed suggest otherwise. It essentially contains the polyfills that babel injects into our code. It contains lots of small, runtime/bundler/transpiler/etc... independent es5 modules that polyfill one functionality at a time.

Babel then adds imports to the polyfills of this module as we use the functions. For example, this is the code

[2018-08-12 18:35] nicmosc opened #39 "Compilation fails due to missing/incompatible dependency"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
`2.5.2`

2. What operating system and processor architecture are you using?
`Mac OS 10.13.6`

3. What did you do?
Tried to compile the code with webpack. This is the component usage I have:
[code]

4. What did you expect to see?
The rendered page

5. What did you see instead?
Webpack throws this error
[code]

[2018-08-12 18:39] PatrickSachs commented on #39
Hey nicmosc!

Thanks for for reporting this. 👍

It seems like this is a duplicate of #37 which already has a fix waiting to be merged in #38. If that's not the case let me know, otherwise I'll close this issue so that we have one central ticket for this problem.

Until this issue is fixed you can manually install `@babel/runtime` at the **exact** version of `beta.55`.

[2018-08-12 22:16] nicmosc commented on #39
@PatrickSachs thanks, looks like it's the same issue yeah. Manually installing that version works, i'll install the next version once the PR is merged! 👍🏻

[2018-08-13 04:15] AndrewRedican commented on #39
Closing in favor of https://github.com/AndrewRedican/react-json-editor-ajrm/issues/37.
Fix suggested on https://github.com/AndrewRedican/react-json-editor-ajrm/pull/38 looks good.

This should be fixed shortly.

[2018-08-13 04:15] #39 closed

[2018-08-13 14:55] #37 closed

[2018-08-13 15:35] AndrewRedican commented on #37
This has been fixed in the latest version `react-json-editor-ajrm@2.5.3`

[2018-08-13 15:35] AndrewRedican commented on #39
This has been fixed in the latest version `react-json-editor-ajrm@2.5.3`

[2018-08-15 10:46] sherlockliu opened #40 "npm run build fails to minify"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.3
2. What operating system and processor architecture are you using?

3. What did you do?
trying to run `npm run build` but got error
[code]
4. What did you expect to see?
expect build success
5. What did you see instead?

[2018-08-15 11:40] PatrickSachs commented on #40
Hey @sherlockliu,

thanks for the report.

As stated under the help link in the error message this is due to the code in the /es/ directory being in ES6. If you import `react-json-editor-ajrm/index` instead of `react-json-editor-ajrm/es/index` you will get the ES5 code compatible with older ecosystems.

[2018-08-21 06:05] AndrewRedican commented on #40
Have not heard back from @sherlockliu in a while.
Assuming satisfactory explanation has been provided to this inquiry.

[2018-08-21 06:05] #40 closed

[2018-08-21 22:52] ankitr opened #42 "Tabs result in focus change"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.3
2. What operating system and processor architecture are you using?
Mac OSX 10.13.1 on 2.3 GHz Intel Core i5
3. What did you do?
Press tab within the editor
4. What did you expect to see?
2 or 4 spaces
5. What did you see instead?
The focus changed from the editor to another element on the page

[2018-08-22 18:50] PatrickSachs commented on #42
Hallo @ankitr

Thank you for reporting this!

I was able to reproduce the issue on my end. This should hopefully be a quick fix.

[2018-08-23 19:58] #42 closed

[2018-08-23 20:02] PatrickSachs commented on #42
A fix for this has been merged.

However, it may take some time before being published to NPM.

[2018-08-24 18:47] rodrigofd opened #45 "How do you set an initial content/value?"

[2018-08-24 18:49] PatrickSachs commented on #45
Hey @rodrigofd

The initial value can be set using the `placeholder` prop.

Should the value passed into placeholder ever change, the value will be reset to the value passed, so it essentially functions like a value prop.

If you need an example on how to use take a look at `/example/index.js`.

[2018-08-24 18:51] rodrigofd commented on #45
Awesome, thanks for the quick help! :) Great job with this component

[2018-08-24 18:51] #45 closed

[2018-08-25 01:05] ankitr commented on #42
Thanks a bunch! Excited for the publish.

[2018-08-27 07:01] giorgi-m opened #46 "Format Unexpectedly Changes On Specific Syntax Error"
1. version 2.5.3
2. OS: ubuntu

Below is a screenshot of correct JSON displayed

![screenshot from 2018-08-27 10-58-12](https://user-images.githubusercontent.com/41240312/44645349-62ce6380-a9e8-11e8-9597-14df584d026d.png)
Then imagine I make syntax error, say on line 11 I just typed symbol s.
Below is what suddenly happens to the display:

![screenshot from 2018-08-27 10-58-54](https://user-images

[2018-08-27 07:09] giorgi-m opened #47 "Error line incorrectly reported"
1. version 2.5.3
2. OS: ubuntu

I suppose it wrongly reports line of error. e.g.

![screenshot from 2018-08-27 11-04-42](https://user-images.githubusercontent.com/41240312/44645669-7a5a1c00-a9e9-11e8-8daa-15b3190a7fdf.png)

You can see above it reports error is on line 17, whereas in reality the error is on line 13, where I typed symbol "r". (If I remove that "r" from line 13 and its corresponding

[2018-08-27 08:29] EXPEakhasawneh commented on #47
Same here
![image](https://user-images.githubusercontent.com/29892725/44649427-54298180-a9d3-11e8-91d5-56dabeff3957.png)

[2018-08-27 14:41] AndrewRedican commented on #47
Hey @giorgi-m thanks for reporting this issue,

I'll be submitting a fix shortly.

@EXPEakhasawneh, can you please expand on your input.

[2018-08-27 16:46] glenne opened #48 "Enhancement request: Add JSON5 support"
With growing support for [JSON5](https://json5.org/), it would be a bonus if react-json-editor-ajrm could support JSON5 as well.  The ability to add comments and other sugar is very attractive.

[2018-08-28 07:00] EXPEakhasawneh commented on #47
I'm limited with width dimension, the figure just to show how it looks like

[2018-08-28 14:59] AndrewRedican commented on #47
Hey @EXPEakhasawneh I think yours is a different issue. Is this what you refer to https://github.com/AndrewRedican/react-json-editor-ajrm/issues/8? If its something else, please submit a separate issue on the provided template to keep things clean.

Also, already working on the original issue reported here.

[2018-08-28 15:02] EXPEakhasawneh commented on #47
@AndrewRedican no its the same, thanks

[2018-08-28 16:17] AndrewRedican commented on #46
Hey @giorgi-m,

Can you include the specific reproduction steps. I am unable to replicate.

As for an explanation to this formatting error, each line is not an div element on its own, instead lines are controlled by newline characters. There error involves newlines not being added. (In the near future, I intend to provide a div element for each line as part of a bigger update for collapsible nodes

[2018-08-28 21:29] AndrewRedican opened #50 "✨Universal Syntax Editor"
Provide support to other programming languages' data structure syntax beyond Javascript and JSON.

Key distinction between this project versus other modern editors is that we will only be focusing on values and data structures. We will not provide support for other programming language features beyond that, such as functions, or operations, etc.

Feel free to drop in suggestions as to which data s

[2018-08-28 21:29] AndrewRedican commented on #28
Closing this in favor of https://github.com/AndrewRedican/react-json-editor-ajrm/issues/50

[2018-08-28 21:29] #28 closed

[2018-08-28 21:37] AndrewRedican commented on #48
Hi @glenne,

Excellent suggestion. We have discussed the possibility of extending this component to understand other data structure syntax.

When will we start working on this?
First we need make sure this component is stable and have all the relevant features we'd like it to have. I'd say within the next three to six months, depending on time availability of contributors, we'll get started.

I ju

[2018-08-28 21:37] #48 closed

[2018-08-29 09:01] PetrykowskiM opened #51 "Failed to build this code within create-react-app"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
^2.5.3
2. What operating system and processor architecture are you using?
Mac
3. What did you do?
Integrated it into
4. Problem
Create-React-App is an easy way to get started with react apps of any kind. I just created a new side project where I used `react-json-editor-ajrm`. Since I wanted to deliver the frontend through a do

[2018-08-29 09:11] PatrickSachs commented on #51
Hello @PetrykowskiM

since it's the same error message, I suspect this is a duplicate of #40. Let us know if this works out for you.

[2018-08-29 10:13] PetrykowskiM commented on #51
Thanks! That worked out for me.

[2018-08-29 10:30] giorgi-m commented on #46
Sadly I can't reproduce it either it seems.
I think I had something like below (or close to it):

[code]
But above code seems ok on my end.
If I encounter again this error, I will try to give you full info. But error was there, hence the screenshot.

[2018-08-29 15:35] AndrewRedican commented on #51
@PetrykowskiM, glad that worked!

@PatrickSachs,

Since this is a common question, it would be worthwhile adding a second example, using react-create-app, or at the very least, put somewhere in the readme about these differences. 🤔

What do you think?

[2018-08-29 16:44] PatrickSachs commented on #51
Yeah, I think adding a section to the readme might be a good idea.

Would you think that a possible create-react-app sample would belong in this repo, or should it be a second example repo?

[2018-08-29 17:06] AndrewRedican commented on #51
If by "repo" you refer to both Github and NPM, then I think this new example should not be available on a separate repo. I think this example is still relevant to the project, so we should keep it in Github. As for NPM -I am not sure how much of a positive impact is having a separate NPM example repo like were currently do.

We would probably move the existing example to a directory named somethin

[2018-08-29 17:12] PatrickSachs commented on #51
Makes sense, that sounds like a good idea.

[2018-08-30 07:49] PetrykowskiM commented on #51
@AndrewRedican I created a PR for that. https://github.com/AndrewRedican/react-json-editor-ajrm/pull/52

[2018-08-30 23:03] #51 closed

[2018-09-02 22:37] PatrickSachs commented on #26
I did some more readup on this today since this issue still persists:

We are already using @babel/transform-runtime which was suggested above in our current build setup. This plugin polyfills ES6 features to ES5.

The reason that it still isn't working, is that the transform-runtime plugin does **not** polyfill instance methods (such as forEach, map, reduce, ...), due to the dynamic nature of Jav

[2018-09-02 23:31] PatrickSachs commented on #26
Yeah, I think that's the easiest, least headache inducing option for now.

[2018-09-04 09:05] rickbrunstedt opened #54 "viewOnly set to true is preventing user from copy text"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.3
2. What operating system and processor architecture are you using? macOS
3. What did you do? trying to copy text with cmd + c
4. What did you expect to see? The text should be copied
5. What did you see instead? it wasn't.

I made a pr that would fix this. #53

[2018-09-05 14:05] #54 closed

[2018-09-06 07:59] AndrewRedican commented on #47
This issue has been fixed and is available in the latest version `react-json-editor-ajrm@2.5.4`.

[2018-09-06 07:59] #47 closed

[2018-09-06 08:00] AndrewRedican commented on #46
This issue has been fixed and is available in the latest version `react-json-editor-ajrm@2.5.4`.

[2018-09-06 08:00] #46 closed

[2018-09-06 08:05] AndrewRedican commented on #30
Hey @AllanKDeveloper, I am reaching out to you to see if we can get a hand.

We've added some additional terms to the locale system in the latest PR. We've translated a few terms already but we might your need expertise. Let me know if you have time to check and update.

[2018-09-06 12:53] AllanKDeveloper commented on #30
Hi, @AndrewRedican I already created the pull request.

[2018-09-06 13:12] monicagangwar opened #57 "On scrolling after the specified height, cursor is not visible"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2. What operating system and processor architecture are you using?
3. What did you do?
4. What did you expect to see?
5. What did you see instead?

[2018-09-06 15:09] AndrewRedican commented on #57
Hey @monicagangwar,

I don't see an issue with the cursor when scrolling over the component.

By the title of this issue, I understand you are somehow telling the component to scroll from the code. This react component does not have a onScroll property to use. Perhaps you are attempting to modifying the scrollTop attribute of the DOM element directly?

I'm at a loss to know how I can help you. Can

[2018-09-07 06:35] monicagangwar commented on #57
Hey @AndrewRedican
No, I'm not attempting scroll from the code. I have a component like this
[code]
When i scroll this component after 300px and attempt to place the cursor, it goes missing. I can edit the data and everything but cursor remains invisible

version i'm using is `"react-json-editor-ajrm": "^2.5.4",`

[2018-09-07 06:53] AndrewRedican commented on #57
I still don't see what you mean.

Check this screen capture with the code you provided.

![screencapture](https://user-images.githubusercontent.com/24832471/45203092-39a7a180-b238-11e8-87d3-16a58a90de87.gif)

What operating system and processor architecture are you using?

Did you check any errors on the console log?

[2018-09-07 09:11] giorgi-m opened #58 "Coloring issue"
v 2.5.4

In below screenshot, you can see text ("qw") has gray color:

![screenshot from 2018-09-07 13-03-39](https://user-images.githubusercontent.com/41240312/45209867-18c66700-b29f-11e8-9e9f-514bb621d7c1.png)

Eventhough in my code I have set default color to black:

[code]
It only turns black when it "compiles" e.g.:

![screenshot from 2018-09-07 13-04-09](https://user-images.githubusercontent

[2018-09-07 12:56] AndrewRedican commented on #58
Hi @giorgi-m,

This is a good question.

The current component behavior is that whenever `colors.default` is specified, any `symbols` and `undetermined-type tokens` (tokens that for a particular reason could not be determined, for reasons likely to be user syntax error or left incomplete).

The `colors` property only applies to *tokens*. Tokens are discrete units determined by logic of the compone

[2018-09-07 16:58] giorgi-m commented on #58
@AndrewRedican I will verify your solution when I get to PC. If that solves the problem you could add that in documentation so people can find it easier.

[2018-09-09 21:29] marcuscaum opened #59 "Error on creating a new react build"
![image](https://user-images.githubusercontent.com/5979318/45269091-12cab480-b45e-11e8-8ca7-0c69cd3719f7.png)

1. What version of RJEA are you using (react-json-editor-ajrm version)? `v2.5.4`
2. What operating system and processor architecture are you using?
3. What did you do? `yarn run build`
4. What did you expect to see? `a build complete`
5. What did you see instead? `an error that fails my b

[2018-09-10 12:06] Patrick-Sachs commented on #59
Hey @marcuscaum,

you are importing the /es version of the code. This is not compatible with create react app. Please import the non ES version.

Please take a look at the *Hint* in the "How to Use" section in the readme. Does this solve your problem?
https://github.com/AndrewRedican/react-json-editor-ajrm#how-to-use

[2018-09-10 21:27] AndrewRedican commented on #57
Hey @monicagangwar,

I am closing this issue. I have not heard from you in a while. If you continue to have issues regarding this, feel free to create a new issue.

Before you do, please be sure to read our new documentation on how to submit an issue [here](https://github.com/AndrewRedican/react-json-editor-ajrm/blob/master/CONTRIBUTING.md#how-to-report-a-bug)

[2018-09-10 21:27] #57 closed

[2018-09-10 21:29] AndrewRedican commented on #58
Hey @giorgi-m,

I am closing this issue. I have not heard from you in a while. I assume my last reply answered your inquiry. If you continue to have issues regarding this, feel free to create a new issue.

Before you do, please be sure to read our new documentation on how to submit an issue [here](https://github.com/AndrewRedican/react-json-editor-ajrm/blob/master/CONTRIBUTING.md#how-to-report-a-b

[2018-09-10 21:29] #58 closed

[2018-09-10 21:51] marcuscaum commented on #59
Yes, solved! Thanks!

[2018-09-10 21:51] #59 closed

[2018-09-19 09:00] ADirtyCat opened #60 "Editor cannot handle backslash"
There is a backslash character in my JSON  #data.
The component cannot process this character prompt error message.
Unexpected ''yii\db\Connection'' token found at line 5

[code]

|Problem|Describe|
|-|-|
|version of RJEA |^2.5.4|
|operating system|Windows|
|What did you do|Formatting JSON display And edit |

[2018-09-19 10:00] ADirtyCat commented on #30
Hi, @AndrewRedican  I already created the pull request.

[2018-09-19 13:03] AndrewRedican commented on #60
Let me know if this was solved in the latest version `react-json-editor-ajrm@2.5.5`.

[2018-09-19 20:00] cgvedant opened #62 "Workflow for integration with redux"
1. What version of RJEA are you using (react-json-editor-ajrm version)? v2.5.4
2. What operating system and processor architecture are you using? macOS 10.13.6
3. What did you do? Use redux to store object and update it with RJEA using onChange
4. What did you expect to see? Some way to get it to work
5. What did you see instead? Unwanted/premature updates due to order of steps taken.

This is goi

[2018-09-19 20:38] AndrewRedican commented on #62
Hi @cgvedant,

Thanks for being this thorough with your inquiries. I will be answering your inquiries to the best of my abbility one at a time in no particular order.

[2018-09-19 21:11] AndrewRedican commented on #62
It all boils down to the use `contentEditable` tag or attribute in the DOM element that contains the content of this component. For reasons that go beyond the scope of this question, and to keep it short, we ought to use `contentEditable` as opposed other possible options. I've been down this road for months and come to the conclusion we must use `contentEditable` tag. However div or span elements

[2018-09-19 21:48] AndrewRedican commented on #62
You repeated `componentDidMount()` twice but I asume the second time you were actually referring to `componentDidUpdate()` right? `showPlaceholder()` also shows up in `componentDidUpdate()` because we want to make sure that, whenever you pass a different value to `placeholder` property, the component will render it to the screen as well.

Imagine if you had a dropdown to chose between different da

[2018-09-19 21:54] AndrewRedican commented on #62
I know there are some issues with cursor focusing. I have fixed some of them. I'd would like to review your particular use case in detail before making any changes to the cursor positioning behavior. Can you provide a trimmed working example (with redux) so I can help you out?

[2018-09-20 02:08] ADirtyCat commented on #60
@AndrewRedican No, not yet. I can also see that error.

[2018-09-20 05:49] cgvedant commented on #62
Ok, so the purpose of placeholder is to act as the initial object which we work upon. In that case, I think the definition in the README should be changed from 'Send a valid javascript object to be shown once when component is mounted' to something which indicates that the object will be referenced not only when the component is mounted, but also when the component is updated.
There could be a cas

[2018-09-20 07:56] cgvedant opened #64 "Update how placeholder property triggers a component re-render."
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.5
2. What operating system and processor architecture are you using? macOS 10.13.6
3. What did you do? Update placeholder passed to RJEA through onChange
4. What did you expect to see? Cursor position is maintained
5. What did you see instead? Cursor position is reset to 0

[code]
This is my App.js after create-react-app a

[2018-09-20 08:20] AndrewRedican commented on #64
Hey @cgvedant,

Thanks for opening a separate issue for this. Now that I read through this issue, I clearly understand what you need. Actually the behavior of the cursor resetting to 0 was intended by design. Whenever the placeholder value is updated, it was designed thinking that the value that was changed to some was completely unrelated.

You are the first person that approaches me with a redux

[2018-09-20 11:58] cgvedant commented on #64
Option to remember cursor position would be useful, but I'd prefer an option to not run showPlaceholder in componentDidUpdate. I can't think of any case where we would need to remember the cursorPosition, but also update based on placeHolder. I'm also interested to learn if there is a reason you call onChange() before setState() in update().
Thanks for the quick reply and sorry for the late reply.

[2018-09-21 10:15] AndrewRedican commented on #62
I've updated the documentation for `placeholder` property. Again, thanks for your input. Check it out https://github.com/AndrewRedican/react-json-editor-ajrm/commit/18345ce4cff1e41819d9461358a51d71ce9eefc6. Let me know if this looks good.

[2018-09-21 10:19] AndrewRedican commented on #62
Lets move this bit of the conversation to this issue https://github.com/AndrewRedican/react-json-editor-ajrm/issues/64.

[2018-09-21 10:32] AndrewRedican commented on #64
Let's talk a bit about your code sample you provided.

Is there a particular reason why you are updating the `placeholder` property after a component change?Also, I assume your code sample is a bit incomplete. `onChange` will provide an object with different keys with other data besides the actual javascript object.

If the component is meant for users to write some javascript syntax object from s

[2018-09-21 11:14] cgvedant commented on #64
I just wanted to pass an initial object that needs to be edited. The updating is not intentional. It's only because the state.obj is being changed. One way to avoid the problem would be to make a copy of the initially passed object in the state, make sure it never changes, and pass it as placeholder. This seems a bit hacky and managing such behaviour would fit well within the component using a sim

[2018-09-21 13:46] cgvedant commented on #62
Shall I open another issue requesting support for string placeholder?

Should I try to see if this works and submit a PR?

[2018-09-21 15:11] AndrewRedican commented on #64
My bad! I read the code incorrectly.

I see what you mean. I made a rookie mistake! *facepalm*. I'll get this corrected shortly.

[2018-09-21 15:36] AndrewRedican commented on #64
@PatrickSachs,
I've added a small library `mitsuketa` of my own to help me here. In the interest of keep this project with the least amount of depencies, I've added these files directly, only to import what we need.

A couple of functions from it I will need for the collapsible node features. As well the `indentical` function will help me getting comparison of javascript objects.

@cgvedant,
I've

[2018-09-21 15:43] AndrewRedican commented on #62
@cgvedant,
Feel free to submit a PR.

Also, check on my response on the other issue or pull the latest changes from master.

[2018-09-23 21:33] AndrewRedican commented on #64
Hi @cgvedant,

Thanks for your input. I've taken your feedback into account. I've extended the logic to how changes in `placeholder` determine whether if component will re-render:

If the same value for the `placeholder` property is provided, the component it will not re-render. However, if the component's content has already been edited and differs from its intial placeholder value, sending the s

[2018-09-24 08:52] cgvedant commented on #64
Looks good to me. But now, the onChange might become necessary as we always need to keep the prop in sync with the text when it produces a valid jsObject. I haven't tested it yet though. Could you publish a pre-release so I can test out the changes?

[2018-09-27 03:52] ADirtyCat opened #67 "Too long rows cause errors. Automatic newline"
**When the length of a row exceeds the width of the editor
A guild will turn into two rows, resulting in errors.**

|Problem|Answer|
|----------|:-------------:|
version of RJEA | The latest version
Environmental  | Node.js v8.11.4  + React ^16.4.2
What did you do | Fixed the size of the editor

[2018-09-27 03:56] #67 closed

[2018-09-27 11:37] valenticanadell opened #68 "Unpolyfilled ES6 version of component fails to build with React-Create-App"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.5
2. What operating system and processor architecture are you using? *REQUIRED
Macbook Pro with Visual Studio Code
3. What did you do? *REQUIRED
Used the editor in my React page, which ran perfectly with "npm run dev", but gives me error when "npm run build".
4. What did you expect to see? *REQUIRED
Not an error

[2018-09-27 11:54] AndrewRedican commented on #68
Hi @valenticanadell,

I don't have much experience with `create-react-app` itself. Unfortunately, the error gives remarkably little information. One of our contributors was kind enough to set up a project example using `create-react-app`.

@PetrykowskiM feel free to chime in when you have time.

What I would suggest you to do is to use `react-json-editor-ajrm` instead. `react-json-editor-ajrm/es`

[2018-09-27 12:35] AndrewRedican commented on #68
Hey @valenticanadell,

### I got a quick reply asking in the `react-create-app` Github project.

So there's your answer. If you are using the current version of `react-create-app` you should use `react-json-editor-ajrm` not `react-json-editor-ajrm/es`.

[2018-09-27 12:35] #68 closed

[2018-09-27 12:52] AndrewRedican commented on #60
Waited for a timely reply. I am closing this now.

Feel free to open an new issue should you have the same or a similar issue. See [guidelines](https://github.com/AndrewRedican/react-json-editor-ajrm/blob/master/CONTRIBUTING.md#how-to-report-a-bug).

[2018-09-27 12:52] #60 closed

[2018-09-27 13:06] valenticanadell commented on #68
OK, thank you a lot for your help!!

[2018-09-27 21:01] AndrewRedican commented on #64
Hi @cgvedant,

I agree we wouldn't want to trigger a re-render whenever a new `placeholder` value differs from the current value of the content displayed. This should be an opt-in feature. Good catch.

[2018-09-27 21:14] AndrewRedican commented on #62
I am closing this as it has been a while since we have seen any development in this conversation. I presume you were waiting for feedback on your previous pull-request. Sorry it took that long. You've raised some interesting suggestions, I will be submitting a pull request of my own.

Feel free to open a pull request to add a feature to handle json as placeholder value instead of a javascript obje

[2018-09-27 21:14] #62 closed

[2018-09-28 01:32] ADirtyCat commented on #60
Sorry , Forgot to reply you

[2018-10-01 12:41] valenticanadell commented on #68
Hey, we just checked, we are not using the /es version but the normal version.

<img width="415" alt="screen shot 2018-10-01 at 14 32 33" src="https://user-images.githubusercontent.com/43641090/46288689-df73d500-c586-11e8-9c8c-20c12754b020.png">

<img width="323" alt="screen shot 2018-10-01 at 14 32 19" src="https://user-images.githubusercontent.com/43641090/46288696-e4d11f80-c586-11e8-80bb-d6e6ce

[2018-10-01 16:21] PatrickSachs commented on #68
If you look at the `package.json` of the `react-json-editor-ajrm` in your `node_modules` folder, you will see that it has an entry called `module` pointing to `/es/index.js`.

The module field is used to link to an ES6 version of the code. This is to be used by tools like webpack which can actually work with non commonjs modules. Tools that do not support it(like create-react-app) should ignore it

[2018-10-03 12:03] valenticanadell commented on #68
I tried to import react-json-editor-ajrm/index as you said, seems to compile.
Thank you very much!!

[2018-10-04 12:55] #64 closed

[2018-10-05 15:40] ujovlado opened #71 "How to render JSON?"
2.5.5

not important

set JSON to `placeholder` property

JSON in editor

nothing

Since this is a JSON editor, why is it not possible to enter a JSON string to placeholder? Or at least have an option to set "data type" to JSON?

The problem is that placeholder accepts only JS object and editor renders it as JS object (which is correct), but what if you want to display JSON, since user is editing

[2018-10-05 15:53] PatrickSachs commented on #71
Hello @ujovlado,

I can understand your confusion. As of now this component only supports JS-objects, not pure JSON objects. Support for JSON5(and other languages) is currently in planning: #50

However, I believe that exposing the default behaviour to users is not an issue since they cannot write anything dangerous(such as functions) or things that could not be serialized to "real" JSON(such as `

[2018-10-06 16:33] AndrewRedican opened #74 "Review Code Base"
The objective behind this task is to improve in general project `maintainability`.

At the moment, main code has not changed much since the past 6 months. It was designed to provide the intended functionality first. I would like to make improvements to the code base, not to add new features but to improve project maintainability in general.

| Task | Reason | Implementation |
| :--- | :--- | :---

[2018-10-06 17:11] PatrickSachs commented on #74
This is a good idea. I think the "Sub Components" Task should go hand in hand with transforming the editor into a more universal editor, as both will require a large overhaul of the code base.

[2018-10-06 17:27] AndrewRedican commented on #74
I am glad you think it is a good idea.

Initially I was thinking about separating the 'physical' sections, i.e. the `labels container` and the `warning container`, etc. But I think we also must separate the logic portion into its own directory, similar to what you did with locale support.

[2018-10-07 21:32] AndrewRedican commented on #71
I believe we have provided a suitable answer to your inquiry. However, we have not heard from you in a while, thus I am closing this now. See [policy](https://github.com/AndrewRedican/react-json-editor-ajrm/blob/master/CONTRIBUTING.md#timely-confirmation-policy-all-answered-inquiries-must-be-confirmed-in-a-timely-manner). Feel free to open up a new issue should you have more inquiries.

[2018-10-07 21:32] #71 closed

[2018-10-08 07:01] ntfs32 opened #75 "Performance problems with large datasets"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.6
2. What operating system and processor architecture are you using? *REQUIRED
MacOS ,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36
3. What did you do? *REQUIRED
input a big json string,more than 1500 rows.
4. What did you expect to see?

[2018-10-08 12:41] ujovlado commented on #71
Ok, thanks for explanation.

[2018-10-09 16:31] pjanik opened #77 "Custom error messages"
Any chances that there are plans to support JSON Schema validation (e.g. using https://github.com/epoberezkin/ajv)?
I can also imagine doing that by hand in `onChange` handler if I could only display my own error message somehow.

[2018-10-09 16:36] PatrickSachs commented on #77
Hello @pjanik!

Thank you for this feature request. I don't think that JSON Schema validation should come built in with this component(seeing as we plan to "upgrade" it to a more universal syntax editor not just for JSON #50).

However I really like your idea of being able to return custom errors from e.g. onChange functions. I'll mark it as a feature request and someone will take a look at it onc

[2018-10-09 16:49] PatrickSachs commented on #75
Hello @ntfs32

I can reproduce the issue on my end.

How did you input the JSON string? Did you use it as a placeholder, or did you paste it in?
It seems like the component always crashes when pasting data into it, regardless of how large it is. This is certainly is a new bug since copy pasting used to work just fine before.
Does it crash for you even with small amounts of pasting?

I don't quite

[2018-10-10 02:56] ntfs32 commented on #75
@PatrickSachs  Thank you for your quick reply.
I tried it again.  Just copy pasting input a big json string, then select it and delete, It will be very slow. It will be delete, but 1500 lines took more than 50 seconds.

[2018-10-10 07:02] Patrick-Sachs commented on #75
@ntfs32 Got it, thank you! In this case #78 should be the PR that fixes this. I

f you can spare the time, please try cloning the "no-id" branch of this repo and launch either the webpack or create-react-app example and see how it behaves.

[2018-10-10 09:53] ntfs32 commented on #75
function  createRef Not support react 15...
i think callback ref will be more friendly.

[2018-10-10 11:13] Patrick-Sachs commented on #75
Thanks for the feedback. I'll look into it.

[2018-10-12 16:50] PatrickSachs commented on #75
Hello @ntfs32 - Could you please try if the issue persists in ^2.5.7?

[2018-10-13 15:48] AndrewRedican opened #82 "Polyfill .map() and .forEach() functions to Support IE"
Some time ago, we replace all forEach() with for functions to provide support for IE. Upon recent observation, .map() is also lacking support from Internet Explorer. In addition to that, new helper suites / functions `err` and `mitsuketa` use .forEach functions internally.

Because of these recent additions, and probably because `.map()` is not polyfilled it is likely that this project does not pr

[2018-10-13 16:30] PatrickSachs commented on #82
I think for now it's easiest if we write our own (non global) polyfills for these two functions and then import them. (Since its just two functions)

I haven't yet fully wrapped my head around automatic polyfills for libraries yet so I don't have a clear recommendation on how to set that up if we decide to go with this ultimately.

[2018-10-20 03:01] JustFly1984 commented on #82
If you build your React.js project with webpack and babel, all polyfills will be provided on build time, so you generally should not worry about providing polyfills in library.

[2018-10-25 11:20] IvanRodriCalleja opened #84 "Review IE11 Unsupported ES6 Syntax on Project"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
"react-json-editor-ajrm": "^2.5.6"
2. What operating system and processor architecture are you using
Windows 10, Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz

Hi,

I am using the editor and it works well on chrome but i have some problems on IE11 but i am not totally sure if is caused only by this library or some configuration of

[2018-10-25 20:12] WillFr opened #85 "The use of reset create a rendering infinite loop"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.8
2. What operating system and processor architecture are you using? MacOS
3. What did you do? attempted to use the reset flag
4. What did you expect to see? I expected to see the component display the placeholder when the placeholder is updated
5. What did you see instead? An infinite rendering loop is triggered because i

[2018-10-25 20:16] WillFr opened #86 "Uglify raises an error `error name(clonedIdentity)`"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.8
2. What operating system and processor architecture are you using? MacOS + Linux for build
3. What did you do? attempted to package an SPA using RJEA, which uses uglify
4. What did you expect to see? a successful build, including the uglify part
5. What did you see instead? an error while running uglify: `uglify error na

[2018-10-26 08:47] jymbob commented on #8
Rather than "On rare occasions", for me, this is all the time.

I've had a quick look at the code that's drawing the line numbers and it appears to simply be counting lines in the output.

How about using the y position of the key and symbols for any given line?
e.g. find the key for a given line in the DOM and look at its offsetTop, then compare with the final character in the line (which is like

[2018-10-26 22:36] sunpar opened #87 "String Literals do not parse correctly"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.8
2. What operating system and processor architecture are you using? MAC OSX
3. What did you do? Developer
4. What did you expect to see? String literal to parse correctly in the editor
5. What did you see instead? doesn't parse correctly, getting an error when rendering

Reproduce steps:
1. Using the create-react-app exam

[2018-10-27 20:01] pascal-codetaal opened #88 "Cursor jumps to beginning of text input"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.8
2. What operating system and processor architecture are you using?
Mac os x
3. What did you do?
I created an instance of the json editor and the placeholder is attached a reactive value.
 I configured the json editor with the option reset={false} so no update should happen when the placeholder value updates.

I also crea

[2018-10-29 09:58] i-cooltea opened #89 "Unable to process UN formatted JSON data"
|Question| Answer|
|--|--|
|version| The Lastest Version|

**No formatted JSON string is detected as an error JSON.
This JSON string does not have any syntax problems. It's just not formatted.**
(It can pass syntax check after formatting.)

Json String like it.
[code]

[2018-10-30 14:54] PatrickSachs commented on #84
Hello,

sorry for the super late reply, I was on vacation for the last few days and Andrew seems to be really busy as well.

How are you importing this component in your code? If you are currently using `react-json-editor-ajrm` try using `react-json-editor-ajrm/index`.

[2018-10-30 15:09] PatrickSachs commented on #85
Hello - Thank you for reporting this & sorry for getting back at you so late.

This behavior was present in the original implementation of the reset feature, but was fixed before it was merged or released.
See this comment - https://github.com/AndrewRedican/react-json-editor-ajrm/pull/73#issuecomment-427592640

Can you reproduce your problem with this setup, if not how does your code differ? (Mayb

[2018-10-30 15:12] PatrickSachs commented on #86
Hello,

I'd need more info on this as I'm not familiar with your build setup. What are you using for ugilyfication, do other tools transpile the code first, etc...

I'll make an assumption here and claim that this looks like a bug in the uglyfier since this component is valid ES5/ES6 code, but maybe I'm missing something here.

[2018-10-30 15:15] PatrickSachs commented on #87
Hello @sunpar

thank you very much for reporting this. I can reproduce this issue on my end.

A workaround for now would be to also escape double quotes inside of strings: `Sum({< DateNum = {\">=$(vGlobalStartDate)<=$(vGlobalEndDate)\"},FrequencyNumber = {1}>} [Firm TNA])`

I'll label this as a bug and will close this issue once its fixed.

[2018-10-30 15:20] PatrickSachs commented on #88
Hey @pascal-codetaal

Whenever the user stops editing the text the code will be reformatted after a certain amount of time without any further interaction. This "format" is what currently resets the cursor. I agree that this is not nice looking and rather unintuitive.

We'll look into this. Thank you for reporting this.

[2018-10-30 15:23] PatrickSachs commented on #89
Hello - thank you very much for reporting this,

I am able to reproduce this on my end.

Can you attempt to use the workaround described here? https://github.com/AndrewRedican/react-json-editor-ajrm/issues/87

Otherwise this could also be related to too many nested update calls. We'll look into this once possible.

[2018-10-30 17:47] WillFr commented on #85
Hello Patrick,
In essence this is the code I am using :
[code]

[2018-10-30 20:39] pascal-codetaal commented on #88
@PatrickSachs do you have an idea how to fix this? And if so, perhaps i can help...

[2018-10-30 21:35] PatrickSachs commented on #85
Hello Will,

First of all: After some digging the current version of the editor does indeed have some issues regarding nested update calls, but I'm not sure if this is related to it.

I see several issues with this code. One would be that the `onChange` function never fires, since the `onChange` handler get the `oneChange` function which will evaluate to `undefined`.

The next one would be that th

[2018-10-31 01:37] ADirtyCat commented on #89
The error is not related to double quotation marks. It looks like indentation and space.

[2018-10-31 15:18] PatrickSachs commented on #89
I see. There seems to be something seriously wrong with parsing in the current release.

We're currently waiting for #83 to be merged before making any further changes to this logic, as the PR changes a huge portion of the code base.

Thank for for reporting this. I'll mark the issue as high priority, but cannot guarantee that it will be fixed in the next three days as the label would normally ind

[2018-10-31 16:12] charliehill1 commented on #86
Hi,

The uglify setup that we're using is `uglify-js` which is ran in parallel using the node `child_process` lib.

[2018-10-31 17:09] WillFr commented on #85
Hi Patrick,
I should have mentioned it but this snippet of obviously not production code. It only intends to give you a simple repro (it was actually coded locally and not copy pasted).

I edited the snippet above to remove the two typo you caught (thank you btw)

I used a class variable for the placeholder to show that it was not related to the placeholder changing (class variable don't trigger r

[2018-11-01 20:41] IvanRodriCalleja commented on #84
Hi,

I tryed both and any of this worked for me.
I think the problem is the babel dependencies in my project but i am not totaly sure, i have to try to update all my dependencies, if It does't work, i will try to start a project from 0 to can detect the problem.

[2018-11-02 07:59] AndrewRedican commented on #84
Sorry for the late reply as well @IvanRodriCalleja.

IE is complining most likely because it does not understand this syntax.
IE11 does not support default parameters unfortunately. See http://kangax.github.io/compat-table/es6/ for more information. We intend to provide as much support a we can for IE11, so we will have to review where we use this and/other syntax that

[2018-11-02 08:01] AndrewRedican commented on #84
I will submit a PR for this in the next few days. Thanks.

[2018-11-02 08:11] AndrewRedican commented on #88
Cursor jump is one of those things I have been wanting to fix for some time.

@pascal-codetaal, you are more than happy to have you involved. Feel free to submit a PR.

[2018-11-02 08:30] AndrewRedican commented on #85
Hi @WillFr,

Thanks for your feedback.

Can you clarify wht you use `reset` in your projet?

Whenever `reset=true`, th expected behavior is for for RJEA to accept a new placeholder value and re-render if either A) the existing placeholder value is different or B) if the current content displayed is any different from the new placeholder value that is being assigned.

If the current placeholder val

[2018-11-02 17:10] WillFr commented on #85
Hi Andrew,
We use the reset property for a "reset form" mechanism: basically, RJEA is
part of component that has a reset button, when the reset button is
clicked, we want to render the original place holder, even though the place
holder has not changed.

Currently we worked around it by not using reset and doing a reference
equality check line 612, rather than calling the identical function, then

[2018-11-09 19:08] jurmann opened #91 "Bug when Adding “>” In Double Quotes"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.8
2. What operating system and processor architecture are you using?
Mac OS
3. What did you do?
Added a value of `">"` to dict (same bug is seen with `"<"`).
4. What did you expect to see?

    ![4acff8ac-f0ee-4328-9b23-5272c8c71255](https://user-images.githubusercontent.com/23388989/48282836-0809ad00-e418-11e8-979c-127a53

[2018-11-12 18:55] PatrickSachs commented on #91
Thank you for reporting this and sorry for getting back at you so late.

Unfortunately Andrew and myself are rather busy at the current moment so I cannot guarantee a quick fix. But we'll get back at you once possible.

We also also always open to Pull Requests if you feel like lending a hand :+1:

[2018-11-15 08:28] lvybriage opened #93 "How to install by yarn?"
I use command  $ yarn add  react-json-editor-ajrm
and get the error:

Could not find a declaration file for module 'react-json-editor-ajrm'. 'D:/github_master/nni/src/webui/node_modules/react-json-editor-ajrm/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-json-editor-ajrm` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-json-editor-ajrm

[2018-11-15 09:23] #93 closed

[2018-11-15 09:28] lvybriage opened #94 "How to install successful in React + Typescript"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
"react-json-editor-ajrm": "^2.5.6"
2. What operating system and processor architecture are you using? *REQUIRED
windows
3. What did you do? *REQUIRED
Report a bug.
I use the command $ yarn add react-json-editor-ajrm and get the error:
Could not find a declaration file for module 'react-json-editor-ajrm'. 'D:test/node

[2018-11-15 09:50] lvybriage commented on #94
When I install the react-router, I met the error message as this. Then I use the command '$ yarn add react-router@3.0.5 @types/react-router@3.0.5 --dev' instead of the command '$ yarn add react-router' to resolve the problem. But when I use ''$ yarn add react-json-editor-ajrm @types/react-json-editor-ajrm --dev'' to avoid the question, I get the error message 'error An unexpected error occurred: "

[2018-11-15 20:38] PatrickSachs commented on #94
Hello @lvybriage

We currently do not provide typings for this library. The recommended NPM package `@types/react-json-editor-ajrm` recommended by TypeScript thus does not exist.

As far as I am aware there are no immediate plans for official TypeScript support, but we'd be happy to accept PRs on this subject matter.

[2018-11-19 09:41] royderksroute42 commented on #75
I can confirm that this still is an issue. Copy-pasting a JSON string into the field freezes the entire tab, making it impossible to close it even. Using ^2.5.8.

[2018-11-29 14:32] StefanoSega opened #95 "Force reformatting to always put double quotes around keys"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.8
2. What operating system and processor architecture are you using? *REQUIRED
MacOS Sierra
3. What did you do? *REQUIRED
I copy/pasted this json:
[code]
4. What did you expect to see? *REQUIRED
I expected to have the json in the editor formatted but still keeping the quotes around the key names
5. What did you s

[2018-12-01 11:54] PatrickSachs commented on #95
Hello @StefanoSega

Thanks for reporting this. As you noticed this is currently intended behavior. Quotes are only added if required (e.g. due to a space in the key name).

I'll flag this as feature request and maybe we'll get to it at some point in the future. However we're in dire need of collaborators so I cannot give you an estimated timeframe.

[2018-12-01 11:54] #94 closed

[2019-01-02 07:27] vikasrohit opened #97 "ES6 syntax in polyfilled ES5 code"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
^2.5.6
2. What operating system and processor architecture are you using?
MacOS Intel Core i5
3. What did you do?
Just tried to use (pollyfilled ES5 version as document [here](https://github.com/AndrewRedican/react-json-editor-ajrm/tree/2.5.6#how-to-use)) the library to render a JSON field in a form. While it works in local en

[2019-01-02 17:43] PatrickSachs commented on #97
Hello @vikasrohit

Thank you for reporting this.

I'll flag this as a bug but I cannot give you an estimate to if/when this will be fixed since this library is currently unmaintained.

I'd advise to look for an alternate until a new maintainer can be found.

[2019-01-03 05:13] vikasrohit commented on #97
Thanks @PatrickSachs for the quick response.

[2019-01-15 23:14] martamius commented on #34
I have fixed this issue in pr #98.

[2019-01-16 17:27] #34 closed

[2019-01-31 20:40] minbelapps opened #99 "No initial value as string can be provided."
The placeHolder should be only a valid Object, why?  User is entering text, so any text could be as initial value. For example, the data are provided from other systems and users some times needs to fix it manually. How to use your tool, if it's impossible to provide initial value?

Version:  2.5.9

[2019-02-01 11:44] minbelapps opened #100 "returns not correct plainText value after all input value is deleted"
Version: 2.5.9

if user deletes all input text, for example press "Cntr + All => Delete"  the callback returns "\n" value instead of empty string. With debugger I saw, that in short time JsonEditor shows 3 empty numeric values, so I suppose it's the reason why this "\n" comes from. After that JsonEditor change display to 0 numeric values (I suppose it gets the state I need: empty plainText) but ca

[2019-02-01 11:56] minbelapps opened #101 "Editor validate without error and accept Javascript input like {s:"bla"}"
Version: 2.5.9

Editor transforms JSON to javascript. For example I could paste Json string, but Editor displays as Javascript code. It's not big issue, but still, it's the JSON editor. Good stuff is hear, that callback function returns real JSON stringified value.

In other words: situation, user wants just to validate some JSON value '{s:"bla"}', but that value is not correct JSON object, it's j

[2019-02-01 12:05] minbelapps opened #102 "after "Cnt +Z" not always callback event is fired automatically"
Version: 2.5.9

If I change input value by keyword commands "Cnt +Z" call back is not fired automatically. I have added dynamic submit buttons and they are disabled, if no value provided. For example, user deletes everything with "Contr + all => delete", then pres "Cntr + Z" , the Editor shows some Json value in editor window, but submit button is disabled as callback event is not fired. This edit

[2019-02-01 12:57] minbelapps opened #103 "Not correct error line is shown"
Version: 2.5.9

Not correct line is shown. For example my failure is in line under line number 7, but marked the 6 line and message says, that 6th line is causing error. I suppose the reason is, that lines starts by index 1 and validate'or is based on 0 index system. Please, fix so easy mistakes. Version 2.5.9 and I found 4 bugs in one day.

[2019-02-14 19:32] napalm272 commented on #97
I just encountered the same issue. Instead of importing 'react-json-editor-ajrm', you can import 'react-json-editor-ajrm/index' as a workaround. There seems to be an issue when you npm install this package. The `module` field in the installed package.json is `./es/index.js` instead of `index.js`, so if you do import 'react-json-editor-ajrm' you are actually importing the es version

[2019-02-15 05:48] vikasrohit commented on #97
Thanks @napalm272 for the workaround and enlightening the root cause.

[2019-02-25 07:25] akratzel commented on #97
Thanks @napalm272 - worked for me!

[2019-02-25 13:10] nickerlan opened #104 "Feature Request - Trailing Commas"
Please, add support of trailing commas.

It is very often situation to fix when I prepare some JSobj in vscode and then paste it to editor

[2019-02-26 03:16] weswhite commented on #74
Hey I am willing to help out a bit here. I am forking the work (thanks btw) to add some custom functionality. I could build it in as a component/feature you can toggle if you like. All that said, I am having troubles figuring out the best way to work on the package in "dev" as the example sections pull from the node_module and not the src.

[2019-02-26 03:17] weswhite commented on #74
@AndrewRedican also if you see places you would like pulled out as components let me know and i can see what i can do

[2019-02-27 07:15] giorgi-m opened #105 "Suggestion"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.9
2. What operating system and processor architecture are you using?
Ubuntu
3. What did you do?
Type wrong JSON
4. What did you expect to see?
...
5. What did you see instead?
I saw the JSON object with messed up styles. Details below.

Initially you can see here I have a valid JSON object:

![screenshot from 2019-02-27 11

[2019-03-06 10:21] qianxuemin commented on #86
I also ran into this problem；the error message is
[code]
i used webpack4 to build my project;
 the configuration as follows.
[code]
 if the configuration as follows.,the result is true
[code]

[2019-03-15 10:17] filiphoeven commented on #95
Extra vote here.
We have the same issue, so would be glad if this is changed.
It's not just a visualisation issue, it's very important to have strict JSON to be able to copy/paste between systems.

Double quotes are required according to the strict JSON standard:
- http://www.json.org/
- https://jsonlint.com/

- https://stackoverflow.com/questions/949449/do-the-json-keys-have-to-be-surrounded-by-q

[2019-03-21 03:37] harrysingh commented on #86
I also faced the same problem.
Adding the component to my package..json downgraded lot of other dependencies as well.

Please upgrade the dependencies to a newer version.

[2019-03-25 15:30] filiphoeven opened #106 "Resizeable editor"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.9

Would it be possible to add "resize" functionality to the editor like a textarea (bottom-left handle that allows the user to drag and resize the editor?
https://www.w3schools.com/cssref/css3_pr_resize.asp

[2019-03-25 15:33] filiphoeven opened #107 "Autosize editor"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.9

Is it possible to have the editor vertically grow/shrink automatically based on the content?
To avoid losing unnecessary space in a form.

[2019-04-16 11:13] DominicTobias commented on #45
Hm it doesn't seem to work for updates - e.g. I have a Reset button which modifies that value and re-renders but the component does not update its contents

[2019-04-22 08:29] MasakiFUJISAWA opened #108 "Japanese locale strings"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
-> 2.5.9

2. What operating system and processor architecture are you using? *REQUIRED
-> Mac OS Mojave 10.14.4

3. What did you do? *REQUIRED
-> I imported locale/jpn and showJapanese error messages.

4. What did you expect to see? *REQUIRED
-> I saw some unnatural Japanese expressions.

5. What did you see instead?

[2019-04-30 18:30] JustFly1984 opened #109 "Refactor to typescript"
What do you think if I will refactor the project to typescript?

[2019-05-18 16:51] shpsi commented on #64
@cgvedant @AndrewRedican  I am able to use JSONInput in local & but while deploying via jenkins, npm install is failing. I am using this import JSONInput from 'react-json-editor-ajrm';
i tried /es too but didn't work. node version 8.4 Linux x86_64 . Can you guys please help me out ?

[2019-05-18 18:01] shpsi commented on #86
@harrysingh can you help me out how you solved this problem?

[2019-05-20 10:46] shpsi commented on #97
@napalm272  thanks worked for me too!

[2019-06-06 16:03] mandelcode opened #111 ""\n" converted to "n" in string values of placeholder (=> editor will CORRUPT string values)"
Version: 2.5.9

set placeholder to
{
    s: "a-\n-a"
}

displays in editor :
{
   s: "a-n-a"
}

if edited, the wrong "a-n-a" value is passed to onChange

[2019-07-02 02:28] rafifahlevi commented on #95
i need this issue to solve too . I think it will be great if it can still accept double quote mark so it did not confuse someone that familiar with JSON standard

[2019-07-10 08:48] lybo commented on #88
@pascal-codetaal @AndrewRedican

I have the same annoying issue. If it's difficult to keep the cursor to the same position then I suggest a quicker solution:

* on `reformat` event the cursor should loss of focus from the editor (blur/focus out event).

Because the main problem is while I'm typing and the cursor is reset then I continue writing at the beginning of the editor which causes json erro

[2019-08-23 10:00] filiphoeven commented on #95
Note that it would also be OK if COPY (from copy/paste) would add these single/double quotes for keys and PASTE would remove them if they were in.

[2019-09-17 11:07] rusekr commented on #95
Hello! +100500 quotes to this. It is critical functional for json editor. For now it is not JSON editor. It is just JS-object editor. It converts json to js forcibly and not configurable and after this you edit js-object and not json. Unable to copy past and verify json with this JS editor because of that. Seeing this issue and it's date and thinking we now need to find something different.

[2019-09-25 21:46] tomslot opened #112 "Display in double-quotes instead of single quotes as per JSON standard"
the content is rendered as

{  foo: 'bar' }

instead of

{ "foo": "bar"}, with double quotes around strings as required by JSON standard

[2019-09-27 11:57] vernak2539 opened #113 "Error when pasting string content wrapped in `<>`"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
    - `react-json-editor-ajrm@2.5.9`
2. What operating system and processor architecture are you using?
    - Mac OSX
3. What did you do?
    - Copied `{ test: '<o>' }` into the editor
4. What did you expect to see?
    - expected to see the content I posted formatted correctly
5. What did you see instead?
    -  `Unrecognized

[2019-09-30 14:10] fabianTMC commented on #7
I am currently facing this issue when a large object is attempted to be rendered (i.e) the component crashes with an error in the console. What can I do to mitigate this?

[2019-12-09 11:00] sortegam commented on #112
+1

[2020-01-15 06:49] nanyawei opened #114 "I want to keep the input in the wrong format"
i want
[code]

not
[code]
Is there any way?

[2020-02-07 13:24] lmichratsimbazafy opened #115 "autofocus !is it possible to make autofocus in this editor?"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2. What operating system and processor architecture are you using? *REQUIRED
3. What did you do? *REQUIRED
4. What did you expect to see? *REQUIRED
5. What did you see instead? *REQUIRED

[2020-04-09 10:20] Mr-Albert commented on #111
@mandelcode have you found a solution to this?

[2020-04-14 23:15] gnir-work commented on #77
Will this feature be merged any time soon? I would love it for my project.

[2020-05-20 17:26] ctoppel commented on #91
This issue still persists and will force us to use another component if not fixed. Love everything else, and hope that a fix can be done for this.

[2020-05-25 13:01] xiyanfeixu commented on #112
+1

[2020-06-10 10:42] OwnGhy opened #116 "Unexpected '\' token found"
1. version: 2.5.9
2. system: Mac OS Catalina
3. input something like `{a: '\s'}` to JSONInput component
4. expect: this case should not report error.
5. instead: got Error `Unexpected '\' token found`.

[2020-06-23 06:39] ZengTianShengZ commented on #112
+1

[2020-06-23 09:29] lx-mn commented on #88
Facing same issue. One notable piece of information is this doesn’t happen if there is no placeholder prop passed even after formatting the json

[2020-06-23 18:57] MartinJesu commented on #111
I am also facing the same above issue. Any solution for this ?

[2020-06-24 07:12] mandelcode commented on #111
No, we switched to another editor (jsoneditor-react).

[2020-07-13 06:43] RonWang21 opened #117 "Uncaught TypeError: Cannot read property 'string' of undefined"
Hi, when I put in a JSON like this: "{a: 1}{".
I think the problem is with the second open "{".
The error is "Uncaught TypeError: Cannot read property 'string' of undefined".

This problem is already mentioned by @maynir in #20

Would really like your help.

[2020-07-14 16:24] ariestav opened #118 "Some keys are wrapped in single-quotes others are not wrapped."
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.9

2. What operating system and processor architecture are you using? *REQUIRED
macOS 10.15.15

3. What did you do? *REQUIRED
I inject a valid JSON object into the editor area.  I noticed that in some of the objects that I am displaying into the editor, some key names are wrapped with single quotes while others a

[2020-07-31 21:06] willits8 opened #119 "Quoted Booleans not being allowed"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.4.2
2. What operating system and processor architecture are you using?  Windows 10 (Intel Core i7-8650U)
3. What did you do? Pasted, the below value into the editor. (attempted to pass a boolean string ("false") as a value).
`{
  "externalAccountId": "tn-green09268",
  "academicYear": "2020-2021",
  "apSettingName": "ENABLE_

[2020-08-01 12:12] kalashnikovisme opened #120 "Display in double-quotes instead of single quotes as per JSON standard"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.9
2. What operating system and processor architecture are you using? *REQUIRED
Linux
3. What did you do? *REQUIRED
I just use it with this code

[code]
where `buildPlaceholder(params.params)` returns valid JSobject.

This object

[code]

4. What did you expect to see? *REQUIRED

I expect to see my object as JSON

[2020-08-25 08:26] #77 closed

[2020-08-25 08:59] AndrewRedican commented on #99
Your use case is different.

This editor caters for the use case where you simply want to see some object like structure. It does provide syntax checking capabilities if the user wants to modify the object.

I have been working on the side for a pure syntax checker (decoupled from a user interface) which seems this might suit you better, but it is still work in progress.

[2020-08-25 08:59] #99 closed

[2020-08-25 09:01] AndrewRedican commented on #95
This is valid feedback. I will see if we can have this updated.

[2020-08-25 09:20] AndrewRedican commented on #103
@minbelapps I have read your feedback (a little too late).  I think the easiest thing to do if you need something changed rather quickly is to submit a PR yourself.

I don't see reproduction steps or the expected bug format. I am closing this in favor of a new issue if it is still relevant.

[2020-08-25 09:20] #103 closed

[2020-08-25 09:22] AndrewRedican commented on #107
I can't see why not. Although, there seem to be other items taking higher priority. The easiest thing to do if you want a quick resolution is to create a PR yourself. I would be happy to review it.

[2020-08-25 09:24] AndrewRedican commented on #106
I can't see why not. Although, there seem to be other items taking higher priority. The easiest thing to do if you want a quick resolution is to create a PR yourself. I would be happy to review it.

[2020-08-25 09:25] AndrewRedican commented on #117
@RonWang21 could you provide a screenshot stack trace from the console log and formal reproduction steps. I will then prioritize this.

[2020-08-25 09:32] AndrewRedican commented on #120
Single quotes are intended behavior, however, a strong argument can be made that the expectation is it should match JSON specs.

[2020-08-25 09:32] AndrewRedican commented on #112
Closing in favor of https://github.com/AndrewRedican/react-json-editor-ajrm/issues/120

[2020-08-25 09:32] #112 closed

[2020-08-25 09:36] AndrewRedican commented on #105
@giorgi-m there is a limitation on the logic parsing the string, unfortunately.

There is no quick fix for this. I have been working on a new parser as of six months ago, but I reckon it is going to be a while until that is complete since I work on it pretty much on my free time.

[2020-08-25 09:36] #105 closed

[2020-08-25 09:38] AndrewRedican commented on #109
If you do, I will be happy to reference that over to your project.

[2020-08-25 09:40] AndrewRedican commented on #109
If you do, please make sure to bring over the contributor information. Especially those who facilitated the translations.

[2020-09-01 09:30] glebfeklistov opened #131 "onChange on lost focus"
1. latest
2. any
3. simple change data
4. when data not modified and editor lost focus onChange not firing if didn't modified
5. onChange fired all time

[2020-09-06 15:38] tonynguyenit18 opened #133 "Feature request: having onBlur feature"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
   2.5.10
2. What operating system and processor architecture are you using?
   MacOS Sierra
3. What did you do?
   Move the mouse away the RJEA component
4. What did you expect to see?
  onBlur is passed as a props and executed
5. What did you see instead?
  RJEA does not support onBlur props at the moment, it will trigger on

[2020-09-07 05:10] rongyadong commented on #133
Oh, that is a really good feature if we have. Normally, if we need this onBlur we have to add by ourselves. If we can get this as a build-in API that would be amazing!

[2020-09-08 17:00] mirzasofthouse opened #136 "Text render issue"
Steps to reproduce:
- Type

"TWO":2

Expected:
- Error with the typed text

Result:
<img width="417" alt="Screenshot 2020-09-08 at 18 56 04" src="https://user-images.githubusercontent.com/34437978/92506173-5602be00-f205-11ea-8d78-213d117d1f36.png">

[2020-09-14 23:21] #133 closed

[2020-09-23 01:45] caopengau opened #137 "when object has string value containing double quoted substring, the substring is ignore"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
latest
2. What operating system and processor architecture are you using? *REQUIRED
macOS Catalina, Intel's x64
3. What did you do? *REQUIRED
using this library as a component in our app
4. What did you expect to see? *REQUIRED
the substring wrapped with double quote should be displayed/handled correctly
5. What did

[2020-09-24 16:05] OperatorJack opened #138 "TypeError: Do not know how to serialize a BigInt"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
"^2.5.10"

2. What operating system and processor architecture are you using?
Windows 10. Ryzen 7 processor.

3. What did you do?
I created a create-react-app project with typescript enabled. I passed an object to the editor which contains a bigint property.

4. What did you expect to see?
I expected to see the bigint formatte

[2020-10-12 03:23] brightsider opened #140 "Can't resolve 'react-json-editor-ajrm'"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.11
2. What operating system and processor architecture are you using?
macOS 10.15.7
3. What did you do?
Update from 2.5.10 to 2.5.11
4. What did you expect to see?
Working library
5. What did you see instead?
Can't resolve 'react-json-editor-ajrm'

After back to 2.5.10 library start working.

[2020-10-12 06:47] silentbalanceyh commented on #140
I met this issue also. When I upgrade to 2.5.11, it's working for me. But after upgrade to 2.5.11, this issue happen

Can't resolve 'react-json-editor-ajrm'

Here are temp solution

import JSONInput from 'react-json-editor-ajrm/src'

Above line is working, but it's not very prefer.

[2020-10-12 09:57] johnson-byjus commented on #140
same issue for me But even` import JSONInput from 'react-json-editor-ajrm/src'` didt work
had to do `import JSONInput from 'react-json-editor-ajrm/dist';`

[2020-10-12 12:35] inX95 commented on #140
@AndrewRedican
In your version 2.5.11, the entry file you specified is index.js, but what you actually build is in dist/index.js. 2.5.10 There is no dist directory, and it is directly tiled, causing us to quote errors.Please rebuild version

[2020-10-12 23:01] gus-solji commented on #140
Ya la libreria no sirve en la version 2.5.11, por favor hacer de nuevo la versión para que ya no falle.

The library doesn't work in version 2.5.11, please rebuild version, is very important

<img width="979" alt="Screen Shot 2020-10-12 at 17 00 21" src="https://user-images.githubusercontent.com/28521187/95797331-7e6e5400-0cac-11eb-8519-924d318e4a96.png">

[2020-10-13 03:36] johnson-byjus commented on #140
user version 2.5.10

[2020-10-13 07:36] ksinas commented on #140
Please rebuild version

[2020-10-13 13:05] MMachado-uy commented on #140
+1

[2020-10-15 00:42] gmacmaster commented on #140
+1

[2020-10-15 08:02] AndrewRedican commented on #140
Hi all,

My apologies for the incorrect publish. Please use bump to the latest version `2.5.13`.

I will be adding Github actions to the project automate few things such as validating changes that are ready for publishing and actually publish automatically to prevent this mistake from happening again.

[2020-10-15 08:02] #140 closed

[2020-10-16 22:39] mason-cognitiv opened #141 "Scientific Notation is invalid JSON 4.2424e-10"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
     ^2.5.10
2. What operating system and processor architecture are you using?
     Catalina 10.15.6, 2.3 GHz Quad-Core Intel Core i7
3. What did you do?
     Input the value as 4.2424e-10 into the JSON editor
<img width="437" alt="Screen Shot 2020-10-16 at 3 37 09 PM" src="https://user-images.githubusercontent.com/42151351/9

[2020-10-16 22:44] mason-cognitiv commented on #136
try adding comma after each line to make it valid JSON

[2020-10-22 08:44] ksinas opened #142 "Incorrectly parsing quotes"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.13
2. What operating system and processor architecture are you using? *REQUIRED
Cloud
3. What did you do? *REQUIRED
had a parameter text in my object which contained double quotes
4. What did you expect to see? *REQUIRED
original text stored in the object
[code]
5. What did you see instead? *REQUIRED
[code]
Here'

[2020-10-26 15:13] CrizR commented on #88
Bump, this is an issue for me too.

[2020-10-26 15:16] CrizR commented on #88
Yeah, this is a major issue for me as well.

[2020-11-03 14:52] CMonjo opened #143 "Performance problems with large JSON"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.13 (lastest version)

2. What operating system and processor architecture are you using?
Mac OS (+ Google Chrome)

3. What did you do?
I have been using the package for 1 year but recently I have been trying to copy / paste large JSON within the editor (14000 lines). The page stops completely and I can't do anything more.

[2020-11-19 15:20] kopax opened #144 "Wrong JSON validation cause Missing/invalid closing string ''' token at line 438 due to valid json string => "This string will bug : \"OAUTH\"""
1. What version of RJEA are you using (react-json-editor-ajrm version)?

2.5.13

2. What operating system and processor architecture are you using?

Debian Buster amd64

3. What did you do?

I am editing a large json

4. What did you expect to see?

I expect to be able to remove a key/value(string) without problem

5. What did you see instead?

It complains with an error: `Missing/invalid closing

[2020-11-19 16:22] vejandla commented on #88
@lx-mn How do you assign a value if you do not pass in place holder? is there a different prop for which we can assign the value to?

[2020-11-19 16:37] kopax commented on #137
Same error here

[2020-11-19 16:38] kopax commented on #142
Same error here.

[2020-11-22 23:48] vejandla commented on #88
having the same problem. sometimes our json content is 700+ lines, reformatting for every key press is really knocking down the performance of the application.

@lybo did you find any meaningful solution?

[2020-11-25 03:37] BaronCoder opened #145 "When the elements in the array are pure strings, do not automatically wrap"
1. When the element under the array attribute in the JSON data is a pure string, the string will not wrap automatically, and setting word-break in the browser is also invalid.
![image](https://user-images.githubusercontent.com/28944332/100180209-a50de480-2f12-11eb-82c2-e3375ae119e0.png)
![image](https://user-images.githubusercontent.com/28944332/100180498-409f5500-2f13-11eb-86e7-4fe9d4c71c99.png)

[2020-11-27 11:10] shreeshtiwari2 opened #146 "Editor freezes when we make a bigger change"
I am using the latest version **2.5.13**.
I am working on **Windows 10, Chrome 86**, also tried it on Edge browser
I am using the package in one of my application and it freezes when we make change in like 2 objects at once, for example if a json contains array of objects and from that array **if we remove 2 objects at once then it freezes the application** and this doesn't only happen on Prod, it

[2020-11-27 21:24] vejandla commented on #114
@nanyawei did you figure out a solution for this?

[2020-12-01 20:42] faizan-tariq commented on #146
Facing the same issue

[2020-12-21 13:03] wwitekk opened #149 "cut > paste - causes Error"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.13 (example from master: example\webpack-project\)

2. What operating system and processor architecture are you using? *REQUIRED
Issue exists on Windows 10 Intel core I3; Browsers: Chrome, Opera, Edge
The issue does **not** exists on MacBook (browsers: Chrome, Opera, Mozilla, Safari)

3. What did you do? *REQUIRE

[2021-01-05 22:52] faizan-tariq opened #152 "OnPaste Issue (large json roughly takes 25 secs and)"
[code]
I have add this in JSONInput, but this event is not firing up. I want to minifiy the JSON onPaste to improve performance. I have seen a behavior in this library that I provide large json (not pre-formatted) then it quickly formats it and display it on the UI but If i provide pre-formarted json then it takes around 25secs to load and update the component.

So in order to improve performance

[2021-01-17 22:14] bbemis017 commented on #114
I also don't like how it reformats like that when there is a syntax error. I find it makes the editor frustrating to use.

Has anyone looked into this issue in the code yet, or have any ideas why this happens?

[2021-01-26 08:58] wwitekk opened #153 "E notation for number issue"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.13
2. What operating system and processor architecture are you using? *REQUIRED
MacOS
3. What did you do? *REQUIRED
Tried to use E notation for number: {test: 5.123E+7}.  (tried also: 5.123E7 and 5.123E-7)
4. What did you expect to see? *REQUIRED
No errors
5. What did you see instead? *REQUIRED
Error: Strings mus

[2021-01-27 18:58] cha0s opened #154 "Support validation using e.g. Ajv"
It would be awesome to be able to plug in something like https://ajv.js.org/#getting-started to enhance the editor with not only syntax validation, but schema validation for structured JSON.

[2021-01-27 19:49] cha0s opened #155 "When used as a controlled component, updating the document causes the caret to jump to the top left instead of where I was editing"
1. 2.5.13
2. Linux x86_64
3. Edited content
4. Caret should maintain position
5. Caret jumped to the first position in the editor

I suppose that maybe this is actually a feature request. A prop to specify caret position in the document, which would also be controlled like the document itself?

[2021-02-12 08:08] jmaferreira commented on #155
I don't think this is a feature request. I believe its a bug.
The component can only be used as a viewer, not am editor. Copy and paste also breaks the content. The component is unusable as an editor.

Unless we are doing something wrong.

[2021-02-25 19:42] shaharjacob commented on #114
I also have that problem that the json is re-formatting s.t it hard to understand

[2021-02-25 19:45] vejandla commented on #114
I looked at the code a bit. But, unfortunately, couldn't figure out. If you have any pointers please let me know. Happy to work on it. @bbemis017

[2021-02-26 00:36] bbemis017 commented on #114
I'm not really familiar with this codebase but I did look into this about a month ago. Sorry if my notes are aren't 100% right I probably should have posted this a while ago.

I focused debugging a specific example of broken json, a trailing `}` like I showed in the screen capture above. I found that in this section:
https://github.com/AndrewRedican/react-json-editor-ajrm/blob/7e9b63353e9148dd425b

[2021-02-26 09:35] eemorozov opened #156 "Incorrect parsing of "<", ">" symbols"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.13
2. What operating system and processor architecture are you using?
Windows 10 + [cloud codesandbox](https://codesandbox.io/s/affectionate-roentgen-coz2l)
3. What did you do?

4. What did you expect to see?
Try to parse JSON that contains "<", ">" symbols
`{
 "test": "package<a>link</a>"
}
`
5. What did you see instead?

[2021-02-26 09:48] eemorozov opened #157 "Pasted JSON throws error in Chrome"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.13

2. What operating system and processor architecture are you using?
Windows 10 + [cloud codesandbox](https://codesandbox.io/s/affectionate-roentgen-coz2l)

3. What did you do?
Insert valid JSON in the editor in Chrome browser
`{
 "test": "test"
}`

4. What did you expect to see?
Expect to see parsed JSON without errors

[2021-02-26 11:17] eemorozov commented on #156
PR added [https://github.com/AndrewRedican/react-json-editor-ajrm/pull/158](https://github.com/AndrewRedican/react-json-editor-ajrm/pull/158)

[2021-02-26 12:50] mpeula opened #159 "Paste is prevented when using React Portals (new window)"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED

2. What operating system and processor architecture are you using? *REQUIRED

3. What did you do? *REQUIRED

4. What did you expect to see? *REQUIRED

5. What did you see instead? *REQUIRED

6. Summary

The project I'm working on uses this component inside a [React Portal](https://reactjs.org/docs/portals.html), por

[2021-03-01 10:07] yashvekaria commented on #155
On copy paste JSON in editor, it gives me undefined as its values.

[2021-03-02 19:00] cha0s commented on #155
@yashvekaria I think you should create another issue. This issue isn't about copy/paste.

[2021-03-11 05:49] wwitekk commented on #157
More info on this in: https://github.com/AndrewRedican/react-json-editor-ajrm/issues/149

[2021-03-12 14:04] xstable commented on #18
Works good, thanks for that. But the horizontal scroll-bar is missing if text is longer than the div-width:
![image](https://user-images.githubusercontent.com/1778068/110950557-472bce00-8344-11eb-937e-d0aee80a1965.png)

[2021-03-12 17:14] xstable opened #162 "How to use with "useState" ?"
I've found this in the documentation:

But how is the usage for functional Components here? Is it possible to get the Values to useState ?

[2021-03-12 17:21] xstable commented on #162
Ok, got it. The onChange parameter can be used, because it got all the content.

[2021-03-12 17:21] #162 closed

[2021-03-23 05:36] spawnpoint opened #163 "Error importing locale from 'react-json-editor-ajrm/locale/en'"
1. What version of RJEA are you using (react-json-editor-ajrm version)?

2.5.13

2. What operating system and processor architecture are you using?

Windows 10 , 64 bit using Visual Studio

3. What did you do?

Running the simple import module on a React/.net Core project
[code]

My NPM install

npm install --save @progress/kendo-data-query @progress/kendo-date-math @progress/kendo-drawing @progre

[2021-03-25 01:12] vejandla commented on #143
@CMonjo I bumped into the same issue recently. Did you find any solution?

[2021-03-29 22:06] atompie opened #165 "The comma at the end of root object caused editor to hang."
1. What version of RJEA are you using (react-json-editor-ajrm version)?
react-json-editor-ajrm@2.5.13

2. What operating system and processor architecture are you using?
Ubuntu 20.04

3. What did you do?
Typed inside editor {},
The comma at the end of root object caused editor to hang.

4. What did you expect to see?
Regular error message.
5. What did you see instead?
The comma at the end caused e

[2021-04-08 00:28] GregLafranceBG opened #167 "Uncaught TypeError: Cannot read property 'string' of undefined"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
"react-json-editor-ajrm": "^2.5.13"

2. What operating system and processor architecture are you using?
Ubuntu 18.04.5 LTS
x86_64

3. What did you do? *REQUIRED
Paste this JSON twice into input:

{
  sameple: 'enter / paste Wave JSON',
  test: "this is a test",
  another: "another test"
}

First time you paste it is ok, second

[2021-04-15 06:44] sendking commented on #163
The same problem...

[2021-04-18 12:44] ramsinitus commented on #167
I have the exact same problem: errors in the json string result in crashing of the component instead of showing as errors in the editor

[2021-04-27 21:16] joshgo commented on #84
Hi @AndrewRedican, Is this issue still being worked on?

[2021-05-01 22:26] atompie commented on #165
Have anyone tested this?

[2021-06-01 02:53] andrienpecson commented on #116
Same issue I am trying to also add regex expression but got an `Unexpected '\' token found`.

[2021-06-14 10:23] kolarski commented on #149
Happens in latest Firefox (89.0 (64-bit) at the time).

[2021-06-30 14:44] swapster commented on #142
The same

[2021-07-02 13:33] Jaydeep9979 commented on #149
has there been any updates on this ?

[2021-07-02 14:37] kristijorgji opened #178 "no locale available in typescript, cannot be used"
Package.json
[code]

Usage
[code]

[code]

[2021-07-02 16:30] kristijorgji opened #179 "Question - How to get content not using onChange callback"
I used this library in plain js as in typescript was not working for me.

Now I would like to read the content/state of the editor, but without using callback onChange
I used onChange and is very slow, use case:
I modify content in editor, then want to update a `Save` button enable/disable based on onChange if error is present in js code or not. This takes around 2 seconds to return so button is e

[2021-07-05 10:49] khatran79 commented on #178
Got the same issue. Any luck please?

[2021-07-05 12:41] alexxshadow commented on #88
An old thread I know.. but if anyone else stumbles across this looking for a solution then I've found the following to work (some option removed to keep it shorter, but essentially I am setting a 'keyPressed' boolean, a useEffect hook, and the 'viewOnly' option, which gets momentarily switched on and off. Not pretty, but it seems to work.

[code]

[2021-07-05 13:39] guyindepurker opened #180 "Paste Json content add me undefined before every key"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.9
2. What operating system and processor architecture are you using? *REQUIRED
MacOs BigSur
3. What did you do? *REQUIRED
I paste Json file content to the editor and click outside of the editor
4. What did you expect to see? *REQUIRED
I want to see the json content just as it should be
5. What did you see instead

[2021-07-06 12:56] guyindepurker commented on #180
Fixed:Need to update to lasted version and handle the on blur event. if someone get the same issue.

[2021-07-06 12:56] #180 closed

[2021-07-08 10:01] arthurdjn commented on #18
You can add the following style to have an horizontal scroll bar:

[code]

![image](https://user-images.githubusercontent.com/48992917/124903405-76410c00-dfd3-11eb-9ee9-81eaacf854b5.png)

[2021-07-21 11:10] adityamohta commented on #179
You can get the current JSON object state from ref by using `jsonInputRef.current.state.jsObject` where `jsonInputRef` is the ref you get from your `JsonInput` component

[2021-08-18 11:11] eszczepan commented on #178
Same issue: `Could not find a declaration file for module 'react-json-editor-ajrm/locale/en'`

[2021-08-29 06:55] aroraShru opened #185 "JSON Editor lagging while clearing long json from the editor"
1. What version of RJEA are you using (react-json-editor-ajrm version)?  2.5.13
2. What operating system and processor architecture are you using? Windows 10
3. What did you do? JSON Editor is being used to display a long ~700 line JSON. The usecase is to select the full json, remove it and paste a new json.  The JSON was selected and backspace was pressed to remove the JSON from json-editor.
Whil

[2021-09-08 12:41] kotobuki562 commented on #163
I solved this error by doing the following.

Go to "/locale/en.js" in this npm and copy the code.

[code]

[code]

[2021-09-14 14:05] brunogenaro opened #187 "Hide line number on custom error message if error.line is not provided"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.13

2. What operating system and processor architecture are you using?
macOS Big Sur V11.5.1

3. What did you do? *
I'm doing an external JSON schema validation and providing the `error.reason` to the Component.
Even though I don't send the `error.line`, is still showing as "at line null". So to be less weird, now I'm send

[2021-09-15 16:10] merlich9 opened #188 "string ending with backslash gives error"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.13
2. What operating system and processor architecture are you using? Windows 10 x64
3. What did you do? string that ends with escaped backslash fails.  i.e. { 'test': 'abc\\def\\' }
4. What did you expect to see? is valid json
5. What did you see instead? the trailing '\\' displays an error.  If it is removed, error goes

[2021-09-16 07:47] dsalgador commented on #178
Same problem here.

[code]
![image](https://user-images.githubusercontent.com/33105574/133571906-bc556612-8dac-49b1-ade8-13675912663e.png)

[2021-09-28 14:17] k4st0r42 commented on #185
Same issue on same version

[2021-09-28 19:08] krvns opened #191 "Setting/Overwriting font size dosen't work"
1. RJEA ^2.5.13
2. Windows/Mac/Linux
3. Changing Font Size

[code]
expected behavior: font size is set from `style` property

[2021-09-29 18:11] DJDhanuS opened #192 "is there any option to disable the particular node in editor"
1. What version of RJEA are you using (react-json-editor-ajrm version)? * react-json-editor-ajrm
2. What operating system and processor architecture are you using? * MacBook Pro

[2021-10-01 10:41] sOoN92 commented on #157
I made a PR today to fix this issue:
https://github.com/AndrewRedican/react-json-editor-ajrm/pull/193

Waiting for someone who can approve it.

[2021-10-01 10:41] sOoN92 commented on #149
I made a PR today to fix this issue:
https://github.com/AndrewRedican/react-json-editor-ajrm/pull/193

Waiting for someone who can approve it.

[2021-10-06 03:39] kelokchan commented on #178
You can do `declare module 'react-json-editor-ajrm/locale/en';` to declare the types

[2021-10-06 04:30] kelokchan commented on #191
The correct way should be `style={{
                body: {
                  fontSize: '12px',
                },
              }}`

[2021-10-20 17:41] abischolz commented on #188
Similar issue using punctuation

1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.9
2. What operating system and processor architecture are you using? macOS BigSur 1.1 GHz Quad-Core Intel Core i5
3. What did you do? Trying to display value with lots of punctuation, but is valid JSON ("title": "Punctuation Accepted *!.,;'\"&'")
4. What did you expect to see? JSON displaye

[2021-11-03 17:39] csseba commented on #95
Hi,
Was this fixed? Facing the same issue here!

[2021-11-12 08:57] zakariametal opened #195 "Editor wrong parsing string with backslash and quote"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
**2.5.13**
2. What operating system and processor architecture are you using?
**Linux, AWS EC2**
3. What did you do?
Try to parse this string
`\"\\\"lorem ipsum dolor sit amet\\\"\"`
4. What did you expect to see? *REQUIRED
`"\"lorem ipsum dolor sit amet\""`
5. What did you see instead? *REQUIRED
`"\"`

[2021-11-20 18:18] shubham88fru commented on #95
Hi @AndrewRedican ,

Any updates on the issue? Still seeing the same issue.

[2021-11-24 16:16] gudapraveenkumar commented on #195
Even I have same problem, for example I was trying to render this simple `{test:"[{\"a\":\"abc\",\"d\":\"edf\",\"c\":1}]"}` and I get this in the editor
<img width="547" alt="Screenshot 2021-11-24 at 17 15 29" src="https://user-images.githubusercontent.com/33131034/143275127-18516e41-8963-4141-a2ad-a9f280b04715.png">

[2021-12-03 16:42] darocam73 commented on #178
inside `@types/react-json-editor-ajrm/index.d.ts` you can declare the module like this:

`declare module 'react-json-editor-ajrm/locale/en' {
  export default JSONInputProperties
}`

[2021-12-08 14:22] nageshwari17 commented on #156
Hi , When will this deploy ?

[2021-12-08 16:21] nageshwari17 commented on #156
PR #158 is just replacing <a>link</a> entire stm is should not happen it

[2021-12-14 13:52] abdullokh-mukhammadjonov opened #196 "Warning: Prop `autoCapitalize` did not match. Server: "none" Client: "off""
Version:              "react-json-editor-ajrm": "^2.5.13"
Project type:       Next.js( "next": "11.1.2")
OS: ubuntu,        Browser: Mozilla Firefox 95.0,          (Works well on Chrome)
I tried disabling ```reactStrictMode```  in ```next.config.js```.
[code]

I keep seeing this warning:

[2022-01-04 19:41] nneubarth commented on #187
I was able to get around this by modifying the locale when I have a custom error message that doesn't include line numbers:

`locale={customError ? {...locale, format: "{reason}"} : locale}`

[2022-01-07 03:52] SoniaComp commented on #195
I have the same issue! I will check the code and make a PR for this issue.

[2022-02-03 14:12] basiclaser commented on #95
First of all, awesome project!

Any progress on this though? Currently this JSON editor doesn't accept or show JSON, it shows javascript objects.

`placeholder={JSON.stringify({a:1})}` should not fail.
all keys should be doublequote-wrapped.

If the project were called "Javascript Object Editor" There'd be no issue 😄

thanks for you work!

[2022-02-17 05:07] wu-ctrl opened #200 "cannot end with \\"
cannot end with \\
will report an error
don't know what's wrong

[2022-03-23 22:51] jluxenberg opened #206 "JSONInput does not handle HTML entities properly"
What version of RJEA are you using (react-json-editor-ajrm version)?
2.5.13

What operating system and processor architecture are you using?
MacOS / ARM

What did you do?
Instantiate `JSONInput` with an object having an HTML entity e.g. `&amp;` like this:
[code]

What did you expect to see?

I expect to see a JSON editor with the following object:
[code]

What did you see instead?

Instead, I see

[2022-03-28 16:43] nahidshahin opened #207 "Giving error msg for Windows platform after pasting JSON"
react-json-editor-ajrm version: 2.5.13
operating system and processor architecture: Windows 10 64bit
I pasted a valid json in the editor
expected: No validation error
actually: getting validation error `Non-alphanumeric token '' is not allowed outside string notation at line 1`

Workaround: if I hit any key in the keyboard like putting an extra space resolve the error.

![error](https://user-image

[2022-04-12 16:14] IdoWeitzman opened #208 "Error message should not contain line number when not provided"
1. What version of RJEA are you using (react-json-editor-ajrm version)? 2.5.3
2. What operating system and processor architecture are you using? Mac 64bit
3. What did you do? supplied `error` prop without the optional line property. for example `error={{ reason: 'some-error' }}`
4. What did you expect to see? error message of this structure: `some-error`
5. What did you see instead? `some-error at

[2022-04-21 07:46] varunon9 commented on #163
You can create a file react-json-editor-ajrm/locale/en.d.ts with following content-

[code]

This will set the type as `any`.

[2022-04-24 04:12] Temtselt commented on #179
Would you mind show the code snippet? I am very new in React and using this amazing json editor in my simple project.

[2022-04-26 07:11] ornakash commented on #178
Is there a fix for this without changing the @types/react-json-editor-ajrm/index.d.ts?

[2022-05-12 04:55] FDUS105301 opened #212 "Backslash not parsing correctly --> Deleting strings."
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2.5.13
2. What operating system and processor architecture are you using? *REQUIRED
Arch Linux x86_64 Zen Kernel
3. What did you do? *REQUIRED
Parse JSON as such (Partial)--> "expression":"input1.ServiceCat ==  \"other\"
4. What did you expect to see? *REQUIRED
"expression":"input1.ServiceCat ==  \"other\"
5. What di

[2022-05-31 09:32] s3kamble opened #213 "Way to access DOM node for end to end testing"
Need a way to access proper DOM nodes for JSON, need to check code before and after "onchange",for end-to-end testing.
Currently getting **name:John;** in 4 different spans.
Want to check the value of name before and after onchange,in end to end testing

[2022-06-02 07:35] yoyos commented on #178
thanks for the trick [dsalgador](https://github.com/dsalgador)

[2022-06-13 14:48] samtipton opened #214 "Installation instructions are incomplete"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
    2.5.13
3. What operating system and processor architecture are you using? *REQUIRED
    2019 Intel Mac Monterey
5. What did you do? *REQUIRED
   followed instructions to `npm i --save react-json-editor-ajrm`
   and
[code]
7. What did you expect to see? *REQUIRED
  Could not resolve the library, had to run `npm i

[2022-06-23 13:05] afaianswq commented on #120
I'd like to vote for this one. Having non-compliant JSON makes no sense.

[2022-06-28 15:51] huykon opened #217 "Detect to get current key or path when I focus mouse to one?"
How can I get current json key, value or path when I click mouse to 1 property of json object?

[2022-07-11 21:53] raymondKelly commented on #214
It is in working order. Your issue is that you are using typescript but this project doesn't provide types. You need to tell your project a global type for it. Add a global.d.ts file with the following

`
declare module "react-json-editor-ajrm/locale/en";
`

Then it will import as any

[2022-07-11 22:36] raymondKelly opened #218 "The component does not work with React 18"
1. What version of RJEA are you using (react-json-editor-ajrm version)? ^2.5.13
2. What operating system and processor architecture are you using? MAC 64 bit
3. What did you do? Updated the JSON to what should be an invalid state
4. What did you expect to see? An error message or indication that the JSOn was invalid
5. What did you see instead? The component did not show any indication that the JS

[2022-07-19 02:26] shallinta commented on #195
have the same issue

[2022-07-25 10:17] cjh748 opened #219 "Line numbers are cut off before the end of the JSON"
1. What version of RJEA are you using (react-json-editor-ajrm version)?
^2.5.13
3. What operating system and processor architecture are you using?
Windows 11 - Chrome
4. What did you do?
Rendered a large amount of data
5. What did you expect to see?
Line numbers should match up to the number of lines of JSON
6. What did you see instead?
The line numbers are cut off before the end

![image](https:/

[2022-08-08 14:10] RomainDECOSTER opened #221 "Using number less than zero"
Hello,

When I try to use some number less than 0, I have an error in one case :

If I initialise the placeholder with `{number: -0.1}`I can update it to `{number: -0.2}` but if I initialise with `{number: 0.1}` then I try to pass it to `{number: -0.1}` with just add `-` before my number I have an error.

I provide a video to explain what's going on :

https://user-images.githubusercontent.com/637

[2022-08-25 18:57] Andrey-Varakin commented on #218
Having the exact same issue on Windows 10, 64 bit.

---------------------------------------------------------------------------------------------

`ReactDOM.render(<App />, document.querySelector("#root"));`
The above code renders the editor in its working state, validation and all.

---------------------------------------------------------------------------------------------

[code]
The above cod

[2022-08-27 02:21] #191 closed

[2022-08-27 02:21] krvns commented on #191
Thanks

[2022-09-05 12:05] hodasalah opened #222 "latest version of RJEA not working with react@v18.1.0"
1. What version of RJEA are you using (react-json-editor-ajrm version)? *REQUIRED
2. What operating system and processor architecture are you using? *REQUIRED
3. What did you do? *REQUIRED
4. What did you expect to see? *REQUIRED
5. What did you see instead? *REQUIRED

[2022-09-05 12:23] hodasalah commented on #222
What version of RJEA are you using (react-json-editor-ajrm version)? latest
What operating system and processor architecture are you using? windows
What did you do? `import JSONInput from "react-json-editor-ajrm"
import locale from "react-json-editor-ajrm/locale/en"
<JSONInput id="a_unique_id" placeholder={{ "foo": "bar" }} onChange={(v) => console.log(v.plainText)} locale={locale} />
`
json appea

[2022-09-14 12:37] Pabsz commented on #75
Not sure why this issue is closed. Large JSON, regardless of copy paste or not, causes performance issue and freezes my tab. I'm not copy pasting anything into the editor, in my case I'm simply using the placeholder props.

[2022-10-03 23:33] mjrlgue commented on #222
same issue

[2022-10-04 14:44] GoldfishPi commented on #222
Same here

[2022-10-17 12:17] DebbieL commented on #222
same here, any solutions??

[2022-11-04 06:59] norbertFeron commented on #222
I got the same project on my project, but the example provided (example/create-react-app-project) is working after an upgrade to react v18, but this warning came up:
`Warning: ReactDOM.render is no longer supported in React 18. Use createRoot instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reactjs.org/link/switch-to-createroot`

[http

[2022-11-16 00:25] braco commented on #222
@AndrewRedican please mark this as abandoned in npm if it's not going to be updated / pull requests accepted. Just wasted an hour figuring this out